{% extends "base_form.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}

{% block head_title %}
    Formulaire de contact
{% endblock %}

{% block page_title %}
<h1>Formulaire de contact</h1>
{% endblock %}

{% block form %}
    <p class="text-center">
        <i class="far fa-check text-success"></i>
        Votre demande a été transmise.<br>
        Vous recevrez une réponse par email prochainement.<br>
        <a class="btn btn-info" href="/"><i class="far fa-reply"></i> Ok</a>
    </p>
{% endblock %}




