{% extends "base.html" %}

{% block page_title %}
    <h1>{{ page.title }}</h1>
{% endblock %}

{% block content %}
<a href="/aide/" class="btn btn-primary float-right" role="button">
<i class="fas fa-reply" title="Autorisation"></i> Revenir au sommaire</a>

        {{ page.get_content_html }}

        {% for note in notes %}
                <h2 class="title-note">Note {{ forloop.counter }} - {{ note.title }}</h2>
                {{ note.get_content_html }}
        {% endfor %}
{% endblock %}
