{% extends "base.html" %}

{% block page_title %}
    <h1><i class="fas fa-life-ring"></i> {{ page.title }}</h1>
{% endblock %}

{% block content %}

<a href="/aide/" class="btn btn-primary float-right" role="button">
<i class="fas fa-reply" title="Autorisation"></i> Revenir au sommaire</a>

    {{ page.get_contentbefore_html }}
    {% if count != 1 %}
        <!-- bof Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            {% for group in groups %}
                <li role="presentation">
                    <a class="{% if activ_tab == group %}active{% endif %}" href="#{{ group|slugify }}" aria-controls="home" role="tab" data-toggle="tab">{{ group }}</a></li>
            {% endfor %}
        </ul>
        <!-- eof Nav tabs -->

        <!-- bof Tab -->
        <div class="tab-content">
            {% for group in groups %}
                <div role="tabpanel" class="tab-pane {% if activ_tab == group %}active{% endif %}" id="{{ group|slugify }}">

                    <!-- bof Panels -->
                    <div class="panel-group" id="accordion_{{ group|slugify }}" role="tablist" aria-multiselectable="true">
                        {% for panel in panels %}
                            {% if panel.tab.title == group %}
                                <!-- bof One panel -->
                                <div class="panel ">
                                    <div class="panel-heading" role="tab" id="heading{{ panel.pk }}">
                                        <h4 class="panel-title">
                                            <a role="button"
                                               data-toggle="collapse"
                                               href="#collapse{{ panel.pk }}"
                                               aria-expanded="true" aria-controls="collapse{{ panel.pk }}">
                                                <i class="fas fa-plus"></i> {{ panel.title|safe }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse{{ panel.pk }}"
                                         class="panel-collapse collapse{% if focus == panel.pk %} show {% endif %}"
                                         data-parent="#accordion_{{ group|slugify }}"
                                         role="tabpanel"
                                         aria-labelledby="heading{{ panel.pk }}">
                                        <div class="panel-body">
                                            {{ panel.content|safe }}
                                            <a href="/aide/{{ page.path}}/{{ panel.pk }}" class="permalink">
                                                <i class="fas fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- eof One panel -->
                            {% endif %}
                        {% empty %}
                            <div>
                                La rubrique est en cours de rédaction.<br>
                                Nous vous invitons à tenter de la consulter à nouveau ultérieurement.
                            </div>
                        {% endfor %}
                    </div>
                    <!-- eof Panels -->
                </div>
            {% endfor %}
        </div>
        <!-- eof Tab -->
    {% else %}
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for item in panels %}
                <!-- bof One panel -->
                <div class="panel ">
                    <div class="panel-heading" role="tab" id="heading{{ item.pk }}">
                        <h4 class="panel-title">
                            <a role="button"
                               data-toggle="collapse"
                               href="#collapse{{ item.pk }}"
                               aria-expanded="true" aria-controls="collapse{{ item.pk }}">
                                <i class="fas fa-plus"></i> {{ item.title|safe }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{ item.pk }}"
                         class="panel-collapse collapse{% if focus == item.pk %} show {% endif %}"
                         role="tabpanel"
                         data-parent="#accordion"
                         aria-labelledby="heading{{ item.pk }}">
                        <div class="panel-body">
                            {{ item.content|safe }}
                            <a href="/aide/{{ page.path}}/{{ item.pk }}" class="permalink">
                                <i class="fas fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <!-- eof One panel -->
            {% empty %}
                <div>
                    La rubrique est en cours de rédaction.<br>
                    Nous vous invitons à tenter de la consulter à nouveau ultérieurement.
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {{ page.get_contentafter_html }}

{% endblock %}
