{% extends "account/base.html" %}

{% load account %}
{% load i18n %}

{% block head_title %}Adresse email confirmée{% endblock %}
{% block page_title %}
    <h1>Adresse email confirmée</h1>
{% endblock %}

{% block content %}
    {% if user.is_active %}
        <p>Votre adresse email <a href="mailto:{{user.email}}">{{ user.email }}</a> est maintenant confirmée !</p>
    {% else %}
        <p>Votre adresse email <a href="mailto:{{user.email}}">{{ user.email }}</a> est maintenant confirmée.</p>
        <p>Un administrateur va bientot validé votre compte. Vous recevrez un email pour vous le signaler.</p>
    {% endif %}
{% endblock %}
