{% extends "account/base.html" %}

{% load i18n %}


{% block head_title %}Compte{% endblock %}
{% block page_title %}
    <h1>Adresses email</h1>
{% endblock %}

{% block content %}

{% if user.emailaddress_set.all %}
<p>Les adresses email suivantes sont associées à votre compte :</p>
<form action="{% url 'account_email' %}" class="email_list" method="post">
    {% csrf_token %}
    <table class="table">
        <tr>
            <th>Sélection</th>
            <th>Email</th>
            <th>Vérifié</th>
            <th>Principal</th>
        </tr>
		{% for emailaddress in user.emailaddress_set.all %}
        <tr>
            <td>
                <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>
            </td>
            <td>
                {{emailaddress.email}}
            </td>
            <td>
                {% if emailaddress.verified %}
                <i class="fas fa-check"></i>
                {% else %}
                <i class="fas fa-ban"></i>
		    	{% endif %}
            </td>
            <td>
                {% if emailaddress.primary %}
                <i class="fas fa-check"></i>
                {% else %}
                <i class="fas fa-ban"></i>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <button class="btn btn-primary btn-sm" type="submit" name="action_primary" ><i class="far fa-thumbs-up"></i>En faire l'adresse principale</button>
    <button class="btn btn-primary btn-sm" type="submit" name="action_send" ><i class="fas fa-paper-plane"></i>Envoyer à nouveau le mail de vérification</button>
    <button class="btn btn-primary btn-sm" type="submit" name="action_remove" ><i class="fas fa-trash_alt"></i>Supprimer</button>
</form>
{% else %}
	<p><strong>Attention :</strong> Vous n'avez actuellement aucune adresse email configurée. Vous devriez ajouter une adresse afin de recevoir des notifications, réinitialiser votre mot de passe, etc.</p>
{% endif %}

<h2>Ajouter une adresse email</h2>
<form method="POST" action="{% url 'account_email' %}" class="add_email">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {{ form|crispy }}
    <button class="btn btn-primary btn-sm" name="action_add" type="submit"><i class="fas fa-plus-circle"></i>Ajouter une adresse email</button>
</form>

{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        (function() {
            var message = "Voulez-vous vraiment retirer les adresses email sélectionnées ?";
            var actions = document.getElementsByName('action_remove');
            if (actions.length) {
                actions[0].addEventListener("click",
                                            function(e) {
                                                if (! confirm(message)) {
                                                    e.preventDefault();
                                                    }
    			                             });
            }
		})();
	</script>
{% endblock %}
