{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}Réinitialisation de mot de passe{% endblock %}
{% block page_title %}
    <h1>Réinitialisation de mot de passe</h1>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
{% endif %}
<p>Nous vous avons envoyé un email. Contactez-nous si vous ne l'avez pas reçu d'ici 10 minutes.</p>
{% endblock %}
