{% extends "account/base.html" %}


{% load i18n %}

{% block head_title %}Inscription{% endblock %}
{% block page_title %}
    <h1>Inscription</h1>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            var servicedict = {
                "Commune": "#div_id_commune",
                "Prefecture": "#div_id_prefecture",
                "Federation": "#div_id_federation",
                "CG_Service": "#div_id_cgservice",
                "CGD": "#div_id_cgd",
                "Brigade": "#div_id_brigade",
                "Commissariat": "#div_id_commissariat",
                "Compagnie": "#div_id_compagnie",
                "CIS": "#div_id_cis",
                "Association1ersSecours": "#div_id_secours",
                "Service": "#div_id_autre",
            };
            // Cacher les sélections de sous services
            for (var valeur in servicedict) {
                $(servicedict[valeur]).hide();
            }
            // Afficher la sélection initiale
            if ($('#id_service').val() != '') {
                $(servicedict[$('#id_service').val()]).toggle();
            }

            // Afficher la sélection sélectionnée
            $('#id_service').on('change', function(e, params) {
                for (var valeur in servicedict) {
                    $(servicedict[valeur]).hide();
                }
                $(servicedict[params.selected]).toggle();
                });

        });
    </script>
{% endblock %}
