{% load i18n %}

<ul class="list-group">
    {% for data in object.documentscomplementaires.all %}
        <li class="list-group-item">
            Demande :
            <blockquote>{{ data.desired_information|linebreaks }}</blockquote>
            {% if data.attached_document %}
                Réponse : <a href="{{ data.attached_document.url }}" target="_blank">{{ data.attached_document }}</a>
            {% else %}
                Pas de réponse pour le moment
            {% endif %}
        </li>
    {% endfor %}
</ul>
