{% load i18n file_tags %}

{% if user.organisateur %}
    {% if not object.processing %}
        <div class="card-body text-right">
            {% if object.autorisationnm %}
                <a href="{% url 'events:autorisationnm_update' object.id %}?dept={{ object.get_departure_departement_name }}"
                   class="btn btn-primary" role="button"><i class="far fa-edit"></i> Modifier</a>
                <a href="{% url 'events:autorisationnm_files_update' object.id %}" class="btn btn-info"
                   role="button"><i class="fas fa-file"></i> Joindre des documents</a>
            {% elif object.declarationnm %}
                <a href="{% url 'events:declarationnm_update' object.id %}?dept={{ object.get_departure_departement_name }}"
                   class="btn btn-primary" role="button"><i class="far fa-edit"></i> Modifier</a>
                <a href="{% url 'events:declarationnm_files_update' object.id %}" class="btn btn-info"
                   role="button"><i class="fas fa-file"></i> Joindre des documents</a>
            {% elif object.motorizedconcentration %}
                <a href="{% url 'events:motorizedconcentration_update' object.id %}?dept={{ object.get_departure_departement_name }}"
                   class="btn btn-primary" role="button"><i class="far fa-edit"></i> Modifier</a>
                <a href="{% url 'events:motorizedconcentration_files_update' object.id %}"
                   class="btn btn-info" role="button"><i class="fas fa-file"></i> Joindre des documents</a>
            {% elif object.motorizedevent %}
                <a href="{% url 'events:motorizedevent_update' object.id %}?dept={{ object.get_departure_departement_name }}"
                   class="btn btn-primary" role="button"><i class="far fa-edit"></i> Modifier</a>
                <a href="{% url 'events:motorizedevent_files_update' object.id %}" class="btn btn-info"
                   role="button"><i class="fas fa-file"></i> Joindre des documents</a>
            {% elif object.motorizedrace %}
                <a href="{% url 'events:motorizedrace_update' object.id %}?dept={{ object.get_departure_departement_name }}"
                   class="btn btn-primary" role="button"><i class="far fa-edit"></i> Modifier</a>
                <a href="{% url 'events:motorizedrace_files_update' object.id %}" class="btn btn-info"
                   role="button"><i class="fas fa-file"></i> Joindre des documents</a>
            {% endif %}
        </div>
    {% endif %}
{% endif %}

<ul class="list-group">
    <li class="list-group-item"><i class="fas fa-info-circle"></i> {{ object.description|linebreaksbr }}</li>
    {% if object.observation %}
        <li class="list-group-item"><i class="far fa-adjust"></i> Observations : {{ object.observation|linebreaksbr }}</li>
    {% endif %}
</ul>
<ul class="list-group">
    {% block associated_process %}{% endblock %}
    <li class="list-group-item"><i class="far fa-calendar-alt"></i> Début : {{ object.begin_date }}</li>
    <li class="list-group-item"><i class="far fa-calendar-alt"></i> Fin : {{ object.end_date }}</li>
    <li class="list-group-item"><i class="far fa-square"></i> Activité : {{ object.activite.discipline }} - {{ object.activite }}</li>
    {% if object.autorisationnm.multisport_federation %}
        <li class="list-group-item">Fédération Multi-Sports : {{ object.autorisationnm.multisport_federation }}</li>
    {% endif %}
    {% if object.autorisationnm %}
        <li class="list-group-item"><i class="far fa-university"></i> Affilié à la fédération délégataire de la discipline pratiquée
            : {{ object.autorisationnm.affiliation|yesno|title }}</li>
    {% endif %}
    <li class="list-group-item"><i class="far fa-calendar-alt"></i> La manifestation est inscrite sur le calendrier de la fédération délégataire de la discipline
        : {{ object.registered_calendar|yesno|title }}</li>
    <li class="list-group-item"><i class="fas fa-road"></i> Sur voie publique ou ouverte à la circulation publique : {{ object.activite|yesno|title }}</li>
    <li class="list-group-item"><i class="fas fa-flag"></i> Commune de départ : {{ object.departure_city|capfirst }}</li>
    <li class="list-group-item"><i class="fas fa-flag"></i> Communes traversées :
        {% for city in object.crossed_cities.all %}
            {% if forloop.last %}
                {{ city }}.
            {% else %}
                {{ city }},
            {% endif %}
        {% endfor %}
    </li>
    <li class="list-group-item"><i class="far fa-flag"></i> Autres départements traversés par la manifestation :
        {% for departement in object.other_departments_crossed.all %}
            {% if forloop.last %}
                {{ departement }}.
            {% else %}
                {{ departement }},
            {% endif %}
        {% endfor %}
    </li>
    <li class="list-group-item"><i class="fas fa-users"></i> Places spectateurs : {{ object.max_audience }}</li>
    <li class="list-group-item"><i class="fas fa-users"></i> Nombre de participants : {{ object.number_of_entries }}</li>
    {% if object.motorizedconcentration.meeting %}
        <li class="list-group-item">Nombre de personnes aux points de rassemblement : {{ object.motorizedconcentration.meeting }}</li>
    {% endif %}
    {% if object.oneway_roads %}
        <li class="list-group-item">
            <i class="fas fa-road"></i>
            Voies publiques en sens unique : {{ object.oneway_roads|linebreaks }}</li>
    {% endif %}
    {% if object.closed_roads %}
        <li class="list-group-item">
            <span class="fa-stack">
                <i class="fas fa-road fa-stack-1x"></i>
                <i class="fas fa-ban fa-stack-2x text-danger"></i>
            </span>
            Fermeture de voies publiques : {{ object.closed_roads|linebreaks }}
        </li>
    {% endif %}
    {% if object.declarationnm.grouped_traffic %}
        <li class="list-group-item">Circulation groupée : {{ object.declarationnm.get_grouped_traffic_display }}</li>
    {% endif %}
    {% if object.declarationnm %}
        <li class="list-group-item">Départ groupé des participants : {{ object.declarationnm.grouped_start|yesno|title }}</li>
        <li class="list-group-item">Circulation groupée des participants: {{ object.declarationnm.grouped_run|yesno|title }}</li>
    {% endif %}
    {% if object.declarationnm.support_vehicles_number %}
        <li class="list-group-item">Nombre de véhicules d'accompagnement : {{ object.declarationnm.support_vehicles_number }}</li>
    {% endif %}
    {% if object.motorizedrace.support %}
        <li class="list-group-item">Type de support : {{ object.motorizedrace.get_support_display }}</li>
        <li class="list-group-item">Circuit homologué : {{ object.motorizedrace.circuit_homologue|yesno:"Oui,Non" }}</li>
    {% endif %}
    {% if object.motorizedevent.vehicles %}
        <li class="list-group-item">Type et nombre de véhicules : {{ object.motorizedevent.vehicles|linebreaks }}</li>
    {% endif %}
    {% if object.motorizedconcentration.vehicles %}
        <li class="list-group-item">Type et nombre de véhicules : {{ object.motorizedconcentration.vehicles|linebreaks }}</li>
    {% endif %}
    {% if object.motorizedconcentration.big_concentration %}
        <li class="list-group-item">Plus de 200 autos ou 400 véhicules terrestres à moteur à 2 ou 4 roues
            : {{ object.motorizedconcentration.big_concentration|yesno|capfirst }}</li>
    {% endif %}
    {% if object.motorizedevent.following %}
        <li class="list-group-item">Nombre de véhicules d'accompagnement : {{ object.motorizedevent.following }}</li>
    {% endif %}
    {% if object.motorizedconcentration.following %}
        <li class="list-group-item">Nombre de véhicules d'accompagnement : {{ object.motorizedconcentration.following }}</li>
    {% endif %}
</ul>
<div class="card-header">
    <i class="fas fa-user-alt"></i> Organisateur
</div>
<ul class="list-group">
    <li class="list-group-item">Déclarant
        : {{ object.structure.organisateur.user.get_full_name }}</li>
    <li class="list-group-item">Structure : {{ object.structure|capfirst }} ({{ object.structure.type_of_structure }})</li>
    <li class="list-group-item">Adresse : {{ object.structure.address }}, {{ object.structure.commune.zip_code }} {{ object.structure.commune|upper }}</li>
    <li class="list-group-item">Numéro de téléphone : {{ object.structure.phone }}</li>
    <li class="list-group-item">E-mail : {{ object.structure.organisateur.user.email }}</li>
</ul>
<div class="card-header">
    {% if object.declarationnm or object.autorisationnm %}
        <i class="fas fa-user"></i> Coordonnateur Sécurité
    {% else %}
        <i class="fas fa-user"></i> Organisateur Technique
    {% endif %}
</div>
<ul class="list-group">
    <li class="list-group-item">Nom :
        {{ object.motorizedevent.tech_name|capfirst }}
        {{ object.motorizedrace.tech_name|capfirst }}
        {{ object.motorizedconcentration.tech_name|capfirst }}
        {{ object.autorisationnm.safety_name|capfirst }}
        {{ object.declarationnm.safety_name|capfirst }}</li>
    <li class="list-group-item">Prénom :
        {{ object.motorizedevent.tech_firstname|capfirst }}
        {{ object.motorizedrace.tech_firstname|capfirst }}
        {{ object.motorizedconcentration.tech_firstname|capfirst }}
        {{ object.autorisationnm.safety_firstname|capfirst }}
        {{ object.declarationnm.safety_firstname|capfirst }}</li>
    <li class="list-group-item">Numéro de téléphone :
        {{ object.motorizedevent.tech_tel }}
        {{ object.motorizedrace.tech_tel }}
        {{ object.motorizedconcentration.tech_tel }}
        {{ object.autorisationnm.safety_tel }}
        {{ object.declarationnm.safety_tel }}</li>
    <li class="list-group-item">E-mail :
        {{ object.motorizedevent.tech_email }}
        {{ object.motorizedrace.tech_email }}
        {{ object.motorizedconcentration.tech_email }}
        {{ object.autorisationnm.safety_email }}
        {{ object.declarationnm.safety_email }}</li>
</ul>
{% if object.autorisationnm %}
    <div class="card-header">
        <i class="far fa-exchange-alt"></i> Régime de circulation publique
    </div>
    <ul class="list-group">
        {% if object.autorisationnm.traffic_regulations_compliance %}
            <li class="list-group-item">Respect du code de la route : {{ object.autorisationnm.traffic_regulations_compliance|yesno|title }}</li>
            {% if object.autorisationnm.traffic_regulations_compliance_detail != '' %}
                <li class="list-group-item">Voies empruntées et horaires de passage : {{ object.autorisationnm.traffic_regulations_compliance_detail }}</li>
            {% endif %}
        {% endif %}
        {% if object.autorisationnm.right_of_way %}
            <li class="list-group-item">Priorité de passage : {{ object.autorisationnm.right_of_way|yesno|title }}</li>
            {% if object.autorisationnm.right_of_way_detail != '' %}
                <li class="list-group-item">Voies empruntées et horaires de passage : {{ object.autorisationnm.right_of_way_detail }}</li>
            {% endif %}
        {% endif %}
        {% if object.autorisationnm.temporary_exclusive_roads %}
            <li class="list-group-item">Usage exclusif temporaire de la chaussée : {{ object.autorisationnm.temporary_exclusive_roads|yesno|title }}</li>
            {% if object.autorisationnm.temporary_exclusive_roads_detail != '' %}
                <li class="list-group-item">Voies empruntées et horaires de passage : {{ object.autorisationnm.temporary_exclusive_roads_detail }}</li>
            {% endif %}
        {% endif %}
        {% if object.autorisationnm.private_roads %}
            <li class="list-group-item">Usage privatif de la chaussée : {{ object.autorisationnm.private_roads|yesno|title }}</li>
            {% if object.autorisationnm.private_roads_detail != '' %}
                <li class="list-group-item">Voies empruntées et horaires de passage : {{ object.autorisationnm.private_roads_detail }}</li>
            {% endif %}
        {% endif %}
    </ul>
{% endif %}
{% if object.declarationnm or object.autorisationnm %}
    <div class="card-header">
        <i class="fas fa-shield-alt"></i> Dispositif de sécurité
    </div>
    <ul class="list-group">
        {% if object.declarationnm %}
            <li class="list-group-item">Présence d'un véhicule d'ouverture (véhicule "pilote") :
                {{ object.declarationnm.opening_vehicle|yesno|title }}</li>
            <li class="list-group-item">Présence d'un véhicule de début de course (véhicule "tête de course") :
                {{ object.declarationnm.heading_vehicle|yesno|title }}</li>
            <li class="list-group-item">Présence d'un véhicule de fin de course :
                {{ object.declarationnm.trailing_vehicle|yesno|title }}</li>
            <li class="list-group-item">Présence d'autres véhicules d'organisation (auto ou moto) :
                {{ object.declarationnm.staff_vehicle|yesno|title }}</li>
        {% else %}
            <li class="list-group-item">Présence d'un véhicule d'ouverture (véhicule "pilote") :
                {{ object.autorisationnm.opening_vehicle|yesno|title }}</li>
            <li class="list-group-item">Présence d'un véhicule de début de course (véhicule "tête de course") :
                {{ object.autorisationnm.heading_vehicle|yesno|title }}</li>
            <li class="list-group-item">Présence d'un véhicule de fin de course :
                {{ object.autorisationnm.trailing_vehicle|yesno|title }}</li>
            <li class="list-group-item">Présence d'autres véhicules d'organisation (auto ou moto) :
                {{ object.autorisationnm.staff_vehicle|yesno|title }}</li>
        {% endif %}
    </ul>
    <ul class="list-group">
        <li class="list-group-item">Nombre de signaleurs :
            {{ object.declarationnm.signalers_number }}
            {{ object.autorisationnm.signalers_number }}</li>
        {% if object.declarationnm.signalers_number and object.declarationnm.signaleur_number != 0 %}
            <li class="list-group-item">En postes fixes : {{ object.declarationnm.signalers_number_still }}</li>
            <li class="list-group-item">Mobiles en voitures : {{ object.declarationnm.signalers_number_auto }}</li>
            <li class="list-group-item">Mobiles en motos : {{ object.declarationnm.signalers_number_moto }}</li>
        {% endif %}
        {% if object.autorisationnm.signalers_number and object.autorisationnm.signaleur_number != 0 %}
            <li class="list-group-item">En postes fixes : {{ object.autorisationnm.signalers_number_still }}</li>
            <li class="list-group-item">Mobiles en voitures : {{ object.autorisationnm.signalers_number_auto }}</li>
            <li class="list-group-item">Mobiles en motos : {{ object.autorisationnm.signalers_number_moto }}</li>
        {% endif %}
    </ul>
    <ul class="list-group">
        {% if object.declarationnm %}
            <li class="list-group-item">Encadrement de la police municipale : {{ object.declarationnm.city_police|yesno|title }}</li>
            {% if object.declarationnm.city_police %}
                <li class="list-group-item">Moyens affectés : {{ object.declarationnm.city_police_detail }}</li>
            {% endif %}
            <li class="list-group-item">Convention avec la police nationale ou la gendarmerie : {{ object.declarationnm.state_police|yesno|title }}</li>
            {% if object.declarationnm.state_police %}
                <li class="list-group-item">Moyens affectés : {{ object.declarationnm.state_police_detail }}</li>
            {% endif %}
        {% else %}
            <li class="list-group-item">Encadrement de la police municipale :{{ object.autorisationnm.city_police|yesno|title }}</li>
            {% if object.autorisationnm.city_police %}
                <li class="list-group-item">Moyens affectés : {{ object.autorisationnm.city_police_detail }}</li>
            {% endif %}
            <li class="list-group-item">Convention avec la police nationale ou la gendarmerie : {{ object.autorisationnm.state_police|yesno|title }}</li>
            {% if object.autorisationnm.state_police %}
                <li class="list-group-item">Moyens affectés : {{ object.autorisationnm.state_police_detail }}</li>
            {% endif %}
        {% endif %}
    </ul>
{% endif %}
<div class="card-header">
    <i class="fas fa-map-marker-alt"></i> Cartographie de parcours
</div>
<ul class="list-group">
    {% if object.openrunner_route %}
        {% for route_id, route_name in object.get_manifestation_routes.items %}
            <li class="list-group-item">
                {% if user.organisateur %}
                    {% if request.resolver_match.namespace == "events" %}
                        <a href="{% url 'carto:route_view' route_ids=route_id role='organizer' %}" target="_blank">{{ route_name }}</a>
                    {% endif %}
                {% endif %}
                {% if user.instructeur or user.agent or user.agentlocal %}
                    {% if request.resolver_match.namespace == "authorizations" or request.resolver_match.namespace == "declarations" or request.resolver_match.namespace == "agreements" or request.resolver_match.namespace == "sub_agreements" %}
                        <a href="{% url 'carto:route_instructor' route_ids=route_id role='instructor' %}" target="_blank">{{ route_name }}</a>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    {% else %}
        <li class="list-group-item">
            Pas de parcours cartographie de parcours pour cette manifestation
        </li>
    {% endif %}
    <li class="list-group-item"><i class="far fa-map-signs"></i> Description des parcours : {{ object.route_descriptions|linebreaksbr }}</li>
</ul>
{% if not user.organisateur and object.has_conflicts_map_routes %}
    <div class="card-header">
        <i class="fas fa-exclamation-triangle"></i> Possibles conflits de parcours avec d'autres manifestations
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <p><em>Manifestation à la même date et/ou l'une des communes de départ ou traversée est identique.</em></p>
            {% if object.conflicts_maybe_incomplete %}
                <div class="alert alert-warning">
                    <p><strong>Attention !</strong> Une ou plusieurs manifestations possiblement en conflit n'ont pas de cartographie de parcours et ne sont pas
                        forcément envoyés par l'organisateur : </p>
                    {% for manifestation in object.conflicts_maybe_incomplete %}
                        - {{ manifestation }}<br/>
                    {% endfor %}
                </div>
            {% endif %}
            <a href="{% url 'carto:route_instructor' route_ids=object.get_conflicts_map_routes_hyphen_separated role='instructor' %}" target='_blank'>Afficher les possibles conflits de parcours</a>
        </li>
    </ul>
{% endif %}
<div class="card-header">
    <i class="fas fa-external-link-square"></i> Charte du balisage temporaire
</div>
<ul class="list-group">
    <li class="list-group-item">Vous êtes signataire de la charte du balisage temporaire : {{ object.markup_convention|yesno|title }}</li>
</ul>
<div class="card-header">
    <i class="fas fa-external-link"></i> Type de balisage utilisé
</div>
<ul class="list-group">
    {% if object.chalk_markup %}
        <li class="list-group-item">Balisage à la craie</li>
    {% endif %}
    {% if object.rubalise_markup %}
        <li class="list-group-item">Balisage rubalise</li>
    {% endif %}
    {% if object.bio_rubalise_markup %}
        <li class="list-group-item">Balisage rubalise biodégradable</li>
    {% endif %}
    {% if object.paneling_markup %}
        <li class="list-group-item">Balisage panneaux (sur piquets ou fixés sur supports naturels)</li>
    {% endif %}
    {% if object.ground_markup %}
        <li class="list-group-item">Balisage signalétique collé au sol</li>
    {% endif %}
    {% if object.sticker_markup %}
        <li class="list-group-item">Balisage autocollant</li>
    {% endif %}
    {% if object.lime_markup %}
        <li class="list-group-item">Balisage à la chaux</li>
    {% endif %}
    {% if object.plaster_markup %}
        <li class="list-group-item">Balisage au plâtre</li>
    {% endif %}
    {% if object.confetti_markup %}
        <li class="list-group-item">Balisage confettis</li>
    {% endif %}
    {% if object.paint_markup %}
        <li class="list-group-item">Balisage à la peinture (aérosol)</li>
    {% endif %}
    {% if object.acrylic_markup %}
        <li class="list-group-item">Balisage à la peinture acrylique</li>
    {% endif %}
    {% if object.withdrawn_markup %}
        <li class="list-group-item">Balisage retiré dans les 48h</li>
    {% endif %}
</ul>
<div class="card-header">
    <i class="fas fa-signal"></i> Évaluation d'incidences Natura2000
</div>
<ul class="list-group">
    {% if object.big_budget %}
        <li class="list-group-item">Le budget de la manifestation excède 100 000 €</li>
    {% endif %}
    {% if object.lucrative %}
        <li class="list-group-item">Manifestation présentant un caractère lucratif et regroupant sur un même site plus de 1 500 personnes</li>
    {% endif %}
    {% if object.big_title %}
        <li class="list-group-item">Manifestation donnant lieu à la délivrance d'un titre national ou international</li>
    {% endif %}
    {% if object.motor_on_closed_road %}
        <li class="list-group-item">Manifestation avec engagement de véhicules terrestres à moteur se déroulant en dehors des voies ouvertes à la circulation
        </li>
    {% endif %}
    {% if object.motor_on_natura2000 %}
        <li class="list-group-item">Manifestation avec engagement de véhicules terrestres à moteur se déroulant
            sur des voies ouvertes à la circulation et à l'intérieur d'un périmètre Natura2000
        </li>
    {% endif %}
    {% if object.approval_request %}
        <li class="list-group-item">Manifestation avec demande d'homologation d'un circuit de sports motorisés</li>
    {% endif %}
</ul>
{% include 'contacts/contact_detail.html' with contact=object.get_contacts.first %}
<div class="card-header">
    <i class="far fa-paperclip"></i> Fichiers joints
</div>
<ul class="list-group">
    {% if object.insurance_certificate %}
        <li class="list-group-item">Attestation d'assurance : <a href="{{ object.insurance_certificate.url }}"
                                                                 target='_blank'>{{ object.insurance_certificate|basename }}</a></li>
    {% endif %}
    {% if object.cartography %}
        <li class="list-group-item">Cartographie : <a href="{{ object.cartography.url }}" target='_blank'>{{ object.cartography|basename }}</a></li>
    {% endif %}
    {% if object.manifestation_rules %}
        <li class="list-group-item">Réglement de la manifestation : <a href="{{ object.manifestation_rules.url }}"
                                                                       target='_blank'>{{ object.manifestation_rules|basename }}</a></li>
    {% endif %}
    {% if object.organisateur_commitment %}
        <li class="list-group-item">Déclaration et engagement de l'organisateur : <a href="{{ object.organisateur_commitment.url }}"
                                                                                     target='_blank'>{{ object.organisateur_commitment|basename }}</a></li>
    {% endif %}
    {% if object.safety_provisions %}
        <li class="list-group-item">Dispositions prises pour la sécurité : <a href="{{ object.safety_provisions.url }}"
                                                                              target='_blank'>{{ object.safety_provisions|basename }}</a></li>
    {% endif %}
    {% if object.doctor_attendance %}
        <li class="list-group-item">Attestation de présence de médecin(s) : <a href="{{ object.doctor_attendance.url }}"
                                                                               target='_blank'>{{ object.doctor_attendance|basename }}</a></li>
    {% endif %}
    {% if object.rounds_safety %}
        <li class="list-group-item">Sécurisation des épreuves : <a href="{{ object.rounds_safety.url }}" target='_blank'>{{ object.rounds_safety|basename }}</a>
        </li>
    {% endif %}
    {% if object.motorizedevent.public_zone_map %}
        <li class="list-group-item">Carte zone publique : <a href="{{ object.motorizedevent.public_zone_map.url }}"
                                                             target='_blank'>{{ object.motorizedevent.public_zone_map|basename }}</a></li>
    {% endif %}
    {% if object.motorizedevent.commissioners %}
        <li class="list-group-item">Liste des postes commissaires : <a href="{{ object.motorizedevent.commissioners.url }}"
                                                                       target='_blank'>{{ object.motorizedevent.commissioners|basename }}</a></li>
    {% endif %}
    {% if object.motorizedevent.tech_organisateur_certificate %}
        <li class="list-group-item">Attestation organisateur technique : <a href="{{ object.motorizedevent.tech_organisateur_certificate.url }}"
                                                                            target='_blank'>{{ object.motorizedevent.tech_organisateur_certificate|basename }}</a>
        </li>
    {% endif %}
    {% if object.motorizedevent.hourly_itinerary %}
        <li class="list-group-item">Itinéraire horaire : <a href="{{ object.motorizedevent.hourly_itinerary.url }}"
                                                            target='_blank'>{{ object.motorizedevent.hourly_itinerary|basename }}</a></li>
    {% endif %}
    {% if object.motorizedevent.participants %}
        <li class="list-group-item">Liste complète des participants : <a href="{{ object.motorizedevent.participants.url }}"
                                                            target='_blank'>{{ object.motorizedevent.participants|basename }}</a></li>
    {% endif %}
    {% if object.motorizedrace.mass_map %}
        <li class="list-group-item">Plan de masse : <a href="{{ object.motorizedrace.mass_map.url }}"
                                                       target='_blank'>{{ object.motorizedrace.mass_map|basename }}</a></li>
    {% endif %}
    {% if object.motorizedevent.delegate_federation_agr %}
        <li class="list-group-item">Avis fédération délégataire : <a href="{{ object.motorizedevent.delegate_federation_agr.url }}"
                                                                     target='_blank'>{{ object.motorizedevent.delegate_federation_agr|basename }}</a></li>
    {% endif %}
    {% if object.autorisationnm.signalers_list %}
        <li class="list-group-item">Liste des signaleurs : <a href="{{ object.autorisationnm.signalers_list.url }}"
                                                              target='_blank'>{{ object.autorisationnm.signalers_list|basename }}</a></li>
    {% endif %}
    {% if object.additional_docs %}
        <li class="list-group-item">Documents complémentaires : <a href="{{ object.additional_docs.url }}"
                                                                   target='_blank'>{{ object.additional_docs|basename }}</a></li>
    {% endif %}
    {% if object.autorisationnm.cycling_techdata %}
        <li class="list-group-item">Dossier technique de manifestation cycliste : <a href="{{ object.autorisationnm.cycling_techdata.url }}"
                                                                   target='_blank'>{{ object.autorisationnm.cycling_techdata|basename }}</a></li>
    {% endif %}
</ul>
