{% load i18n %}

{% if type == 'dnm' %}
    <span class="fa-stack" data-toggle="tooltip" title="Sans véhicule terrestre à moteur">
        <i class="fa fa-car fa-stack-1x"></i>
        <i class="fa fa-ban fa-stack-2x text-danger"></i>
    </span>
    <span class="fa-stack" data-toggle="tooltip" title="Sur voie publique">
      <i class="fa fa-circle fa-stack-2x text-info"></i>
      <i class="fa fa-road fa-stack-1x fa-inverse"></i>
    </span>
    <span class="fa-stack" data-toggle="tooltip" title="Sans compétition">
      <i class="fa fa-trophy fa-stack-1x"></i>
      <i class="fa fa-ban fa-stack-2x text-danger"></i>
    </span>
    <span class="fa-stack" data-toggle="tooltip" title="Circulation groupée">
        <i class="fa fa-circle fa-stack-2x text-info"></i>
        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
    </span>
{% endif %}
{% if type == 'anm' %}
    <span class="fa-stack" data-toggle="tooltip" title="Sans véhicule terrestre à moteur">
        <i class="fa fa-car fa-stack-1x"></i>
        <i class="fa fa-ban fa-stack-2x text-danger"></i>
    </span>
    <span class="fa-stack" data-toggle="tooltip" title="Sur voie publique">
      <i class="fa fa-circle fa-stack-2x text-info"></i>
      <i class="fa fa-road fa-stack-1x fa-inverse"></i>
    </span>
    <span class="fa-stack" data-toggle="tooltip" title="Compétition">
        <i class="fa fa-circle fa-stack-2x text-info"></i>
        <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
    </span>
{% endif %}
{% if type == 'avtm' %}
    <span class="fa-stack" data-toggle="tooltip" title="Avec véhicule terrestre à moteur">
        <i class="fa fa-circle fa-stack-2x text-info"></i>
        <i class="fa fa-car fa-stack-1x fa-inverse"></i>
    </span>
    <span class="fa-stack" data-toggle="tooltip" title="Sur voie publique">
      <i class="fa fa-circle fa-stack-2x text-info"></i>
      <i class="fa fa-road fa-stack-1x fa-inverse"></i>
    </span>
    <span class="fa-stack" data-toggle="tooltip" title="Compétition">
        <i class="fa fa-circle fa-stack-2x text-info"></i>
        <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
    </span>
{% endif %}
{% if type == 'avtmc' %}
    <span class="fa-stack" data-toggle="tooltip" title="Avec véhicule terrestre à moteur">
        <i class="fa fa-circle fa-stack-2x text-info"></i>
        <i class="fa fa-car fa-stack-1x fa-inverse"></i>
    </span>
    <span class="fa-stack" data-toggle="tooltip" title="Sur voie publique">
      <i class="fa fa-circle fa-stack-2x text-info"></i>
      <i class="fa fa-road fa-stack-1x fa-inverse"></i>
    </span>
    <span class="fa-stack" data-toggle="tooltip" title="Sans compétition">
      <i class="fa fa-trophy fa-stack-1x"></i>
      <i class="fa fa-ban fa-stack-2x text-danger"></i>
    </span>
{% endif %}
{% if type == 'avtmcir' %}
    <span class="fa-stack" data-toggle="tooltip" title="Avec véhicule terrestre à moteur">
        <i class="fa fa-circle fa-stack-2x text-info"></i>
        <i class="fa fa-car fa-stack-1x fa-inverse"></i>
    </span>
    <span class="fa-stack" data-toggle="tooltip" title="Hors voie publique">
        <i class="fa fa-road fa-stack-1x"></i>
        <i class="fa fa-ban fa-stack-2x text-danger"></i>
    </span>
    <span class="fa-stack" data-toggle="tooltip" title="Sans compétition">
      <i class="fa fa-trophy fa-stack-1x"></i>
      <i class="fa fa-ban fa-stack-2x text-danger"></i>
    </span>
{% endif %}
