{% extends "events/event_form.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}

{% block head_title %}
    Organisation d'une manifestation sportive
{% endblock %}

{% block page_title %}
    <h1>Organisation d'une manifestation sportive</h1>
{% endblock %}

{% block form %}
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" id="manifestation-form">
        {% if form.target.id %}<input type="hidden" name="id" id="id_id" value="{{ form.target.id }}">{% endif %}
        {% crispy form %}
        {{ form.media }}
        <div class="form-actions">
            <input id="submit-id-save" class="btn btn-primary" type="submit" value="Enregistrer" name="save">
            </input>
        </div>
    </form>
{% endblock %}

{% block content %}
    <div class="well">
    Ce département ne fait pas encore partie des départements abonnés à la plateforme. Vous pouvez néanmoins nous soumettre votre
    manifestation.
    </div>
    {{ block.super }}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'portail/js/file-validator.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/he.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/autogrow/jquery.ns-autogrow.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/jquery.liveValidation.js' %}" type="text/javascript"></script>
    <script src="{% static 'events/js/unsupported-manifestation-form.js' %}" type="text/javascript"></script>
{% endblock %}
