{% load i18n %}

{% if object.rnrevaluations %}
    <li class="nav-item"><a class="nav-link" href="#rnr" data-toggle="pill"><span class="fas fa-leaf"></span> Évaluation
        RNR associée</a></li>
{% endif %}
{% if object.natura2000evaluations %}
    <li class="nav-item"><a class="nav-link" href="#natura2000" data-toggle="pill"><span class="fab fa-gratipay"></span>
        Évaluation Natura 2000 associée</a></li>
{% endif %}
{% if object.documentscomplementaires.count > 0 %}
    <li class="nav-item"><a class="nav-link" href="#additionaldata" data-toggle="pill"><span
            class="far fa-paperclip"></span> Document complémentaire</a></li>
{% endif %}
