{% extends "base.html" %}

{% load i18n %}

{% block head_title %}
    Envoyer un Mail à Toutes les Mairies
{% endblock %}

{% block page_title %}
    <h1>Envoyer un mail à toutes les mairies</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <a href='mailto:?bcc={{ mails }}' class="btn btn-primary" role="button"><i class="fas fa-paper-plane></i>Envoyer un mail à toutes les mairies</a>
    </div>
{% endblock %}
