{% extends "events/event_detail.html" %}

{% load i18n %}

{% block head_title %}Concentration de Véhicules Terrestres à Moteur{% endblock %}

{% block counter %}
    {% if object.big_concentration %}
        {% if not object.manifestationautorisation.id %}
            {% include 'events/counter.html' %}
        {% endif %}
    {% else %}
        {% if not object.manifestationdeclaration.id %}
            {% include 'events/counter.html' %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block related_processes %}
    {% if object.big_concentration %}
        {% if not object.manifestationautorisation.id %}
            {% if object.ready_for_instruction %}
                <div class="card">
                    <div class="card-header bg-primary">
                        <i class="fas fa-exclamation-triangle"></i>Actions requises
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{% url 'authorizations:authorization_add' manifestation_pk=object.id %}" class="btn" role="button">
                                <i class="fas fa-plus-square" title="demander"></i> Demander l'autorisation pour la manifestation
                                <i class="far fa-gem left-margin" title="Autorisation"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="card">
                    <div class="card-header bg-primary">
                        <i class="fas fa-exclamation-triangle"></i>Des pièces manquent au dossier
                    </div>
                    <div class="card-body">
                        <p>Une fois ces pièces jointes au dossier, vous serez en mesure de d'envoyer la demande d'autorisation</p>
                        <p>Veuillez trouver ci-dessous la liste des pièces manquantes</p>
                    </div>
                    <ul class="list-group">
                        {% include 'events/missing_documents.html' %}
                        {% if not object.rounds_safety %}
                            <li class="list-group-item">Sécurisation des épreuves</li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        {% if not object.manifestationdeclaration.id %}
            {% if object.ready_for_instruction %}
                <div class="card">
                    <div class="card-header bg-primary">
                        <i class="fas fa-exclamation-triangle"></i>Actions requises
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{% url 'declarations:declaration_add' manifestation_pk=object.id %}" class="btn" role="button">
                                Déclarer la manifestation
                            </a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="card">
                    <div class="card-header bg-primary">
                        <i class="fas fa-exclamation-triangle"></i>Des pièces manquent au dossier
                    </div>
                    <div class="card-body">
                        <p>Une fois ces pièces jointes au dossier, vous serez en mesure de d'envoyer la demande d'autorisation</p>
                        <p>Veuillez trouver ci-dessous la liste des pièces manquantes</p>
                    </div>
                    <ul class="list-group">
                        {% include 'events/missing_documents.html' %}
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block end_of_process %}
    {% if object.big_concentration %}
        {% if object.manifestationautorisation.id %}
            {% if object.manifestationautorisation.state == 'published' and object.manifestationautorisation.bylaw %}
                <div class="card card-primary">
                    <div class="card-header">
                        L'arrêté d'autorisation a été publié
                    </div>
                    <div class="card-body">
                        <p>Vous pouvez le télécharger en cliquant sur le lien ci-dessous</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{{ object.manifestationautorisation.bylaw.url }}" target='_blank'>Arrêté d'autorisation</a></li>
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        {% if object.manifestationdeclaration.id %}
            {% if object.manifestationdeclaration.state == 'published' and object.manifestationdeclaration.receipt %}
                <div class="card card-primary">
                    <div class="card-header">
                        Le récépissé de déclaration a été publié
                    </div>
                    <div class="card-body">
                        <p>Vous pouvez le télécharger en cliquant sur le lien ci-dessous</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{{ object.manifestationdeclaration.receipt.url }}" target='_blank'>
                        <i class="far fa-star" title="récépissé"></i> Récépissé de déclaration</a></li>
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
