{% extends "base.html" %}

{% load crispy_forms_tags i18n staticfiles %}


{% block head_title %}{% endblock %}

{% block content %}

    <div class="col-xs-12 col-md-12">

        {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Attention : </strong>Certains champs sont obligatoires et doivent être renseignés<br/>
                <ul>
                    {% if form.non_field_errors %}
                        <li>{{ form.non_field_errors }}</li>
                    {% endif %}
                    {% for field in form %}
                        {% if field.errors %}
                            <li><strong>{{ field.label }}</strong> : {{ field.errors.0 }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% block form %}
            {{ form.media }}
            {% crispy form %}
        {% endblock %}
    </div>

{% endblock %}
