{% load staticfiles clever_selects_extras i18n %}

<!doctype html>
<html lang="fr">
<head>
    <title>{% if not INSTANCE.is_master %}({{ INSTANCE.get_departement_name }}) {% endif %}
        {% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <meta charset='utf-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/bootstrap-table/dist/bootstrap-table.min.css' %}">
    <link href="{% static 'portail/css/jquery-jvectormap-2.0.3.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'libs/jquery-ui/jquery-ui.min.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'libs/chosen/chosen.min.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'libs/fontawesome-pro/web-fonts-with-css/css/fontawesome-all.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'libs/titatoggle/dist/titatoggle-dist-min.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'portail/css/default.css' %}" rel='stylesheet' type='text/css'>

    <script src="{% static 'libs/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/moment/moment.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/bootstrap-table/dist/bootstrap-table.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/bootstrap-table/dist/bootstrap-table-locale-all.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/chosen/chosen.jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/bootstrap-switch/dist/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'aide/contextHelp.jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/jquery.submitProtection.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/jquery-jvectormap-2.0.3.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/jquery-jvectormap-fr-merc.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/common.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/main.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        var dep_number = "{{ INSTANCE.get_departement_name }}";
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
        <script src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'></script>
        <![endif]-->

</head>
<body style="background-color: {{ INSTANCE.get_color }};" class="{{ request.resolver_match.url_name }}">
<nav class='navbar navbar-expand-lg navbar-dark navbar-inverse fixed-top' role='navigation'>
    <div class='container'>
        <a class='navbar-brand' href="{% url 'portail:home_page' %}">
            <img alt='Logo Manifestations sportives'
                 src="{% static 'portail/img/Logo_Manifestation_Sportive_260x70.png' %}" height="55">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class='collapse navbar-collapse flex-row-reverse'>
            <ul class='navbar-nav'>
                {% if user.is_authenticated %}
                    {# Les utilisateurs peuvent cumuler plusieurs rôles et donc plusieurs menus dédiés #}
                    {# Menu pour les organisateurs #}
                    {% if user.organisateur %}
                        <li class="nav-item"><a href="{% url 'events:dashboard' %}"><i class="fas fa-tachometer-alt"></i> Tableau de bord<br>organisateur</a></li>
                    {% endif %}
                    {# Menu pour les instructeurs #}
                    {% if user.instructeur %}
                        <li class="nav-item"><a href="{% url 'authorizations:dashboard' %}"><i class="fas fa-tachometer-alt"></i> Tableau de bord<br>Instructeur</a></li>
                    {% endif %}
                    {% if user.agent.mairieagent %}
                        <li class="nav-item"><a href="{% url 'declarations:dashboard' %}"><i class="fas fa-tachometer-alt"></i> Tableau de bord<br>Instructeur</a></li>
                    {% endif %}
                    {# Menu pour les agents départementaux #}
                    {% if user.agent %}
                        {% if user.agent.edsragent %}
                            <li class="nav-item"><a href="{% url 'agreements:dashboard' %}"><i class="fas fa-tachometer-alt"></i> Tableau de bord<br>{{ user.agent.edsragent.edsr }}</a></li>
                        {% elif user.agent.brigadeagent %}
                            <li class="nav-item"><a href="{% url 'agreements:dashboard' %}"><i class="fas fa-tachometer-alt"></i> Tableau de bord<br>{{ user.agent.brigadeagent.brigade }}</a></li>
                        {% elif user.agent.ggdagent %}
                            <li class="nav-item"><a href="{% url 'agreements:dashboard' %}"><i class="fas fa-tachometer-alt"></i> Tableau de bord<br>{{ user.agent.ggdagent.ggd }}</a></li>
                        {% elif user.agent.sdisagent %}
                            <li class="nav-item"><a href="{% url 'agreements:dashboard' %}"><i class="fas fa-tachometer-alt"></i> Tableau de bord<br>{{ user.agent.sdisagent.sdis }}</a></li>
                        {% elif user.agent.codisagent %}
                            <li class="nav-item"><a href="{% url 'agreements:dashboard' %}"><i class="fas fa-tachometer-alt"></i> Tableau de bord<br>{{ user.agent.codisagent.codis }}</a></li>
                        {% elif user.agent.cisagent %}
                            <li class="nav-item"><a href="{% url 'agreements:dashboard' %}"><i class="fas fa-tachometer-alt"></i> Tableau de bord<br>{{ user.agent.cisagent.cis }}</a></li>
                        {% elif user.agent.ddspagent %}
                            <li class="nav-item"><a href="{% url 'agreements:dashboard' %}"><i class="fas fa-tachometer-alt"></i> Tableau de bord<br>{{ user.agent.ddspagent.ddsp }}</a></li>
                        {% elif user.agent.federationagent %}
                            <li class="nav-item"><a href="{% url 'agreements:dashboard' %}"><i class="fas fa-tachometer-alt"></i> Tableau de bord<br>{{ user.agent.federationagent.federation }}</a></li>
                        {% elif user.agent.serviceagent %}
                            <li class="nav-item"><a href="{% url 'agreements:dashboard' %}"><i class="fas fa-tachometer-alt"></i> Tableau de bord<br>{{ user.agent.serviceagent.service }}</a></li>
                        {% elif user.agent.mairieagent %}
                            <li class="nav-item"><a href="{% url 'agreements:dashboard' %}"><i class="fas fa-tachometer-alt"></i> Tableau de bord<br>Service consulté<br>({{ user.agent.mairieagent.commune }})</a></li>
                        {% elif user.agent.cgagent %}
                            <li class="nav-item"><a href="{% url 'agreements:dashboard' %}"><i class="fas fa-tachometer-alt"></i> Tableau de bord<br>{{ user.agent.cgagent.cg }}</a></li>
                        {% elif user.agent.cgsuperieuragent %}
                            <li class="nav-item"><a href="{% url 'agreements:dashboard' %}"><i class="fas fa-tachometer-alt"></i> Tableau de bord<br>{{ user.agent.cgsuperieuragent.cg }}</a></li>
                        {% endif %}
                    {% endif %}
                    {# Menu pour les agents locaux #}
                    {% if user.agentlocal %}
                        <li class="nav-item"><a href="{% url 'sub_agreements:dashboard' %}"><i class="fas fa-tachometer-alt"></i> Tableau de bord<br>service local</a></li>
                    {% endif %}
                    {# Menu d'administration pour les superutilisateurs #}
                    {% if user.is_staff %}
                        <li class="nav-item"><a href="{% url 'admin:index' %}"><i class="fas fa-wrench"></i> Administration</a></li>
                    {% endif %}
                    {# Menu pour tous les utilisateurs #}
                    <li class="nav-item"><a href="{% url 'profile' %}"><i class="fas fa-user-alt"></i> {{ user.username }}
                        ({{ user.get_instance.get_departement_name }})</a></li>
                    <li class="nav-item"><a href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item active"><a href="{% url 'account_login' %}"><i class="fas fa-sign-in-alt"></i> Connexion</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block body %}
    <div class='container' id="main-content">
        <div class='row hearder-notification'>
            {% if messages %}
                <br>
                <div class="col-xs-12 col-md-12">
                    {% for message in messages %}
                        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissable">
                            <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
                            <strong>{{ message }}</strong>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="col-xs-12 col-md-12">
                {% include "nouveautes/nouveaute_available.html" %}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class='page-header'>
                    {% block page_title %}{% endblock %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                    {% block content %}
                    {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
{% endblock %}

<footer role='contentinfo'>
    <div class="container">
        <div class="summary hidden-xs">
            Plateforme web simplifiant considérablement les démarches entre les organisateurs d'événements sportifs,
            l'État et l'ensemble des services consultés
            pour avis.
        </div>
        <div id="footer-info" class='text-center'>
            <a href="http://www.openscop.fr">Openscop</a><span class="pipe_separator">|</span>
            <a href="/aide/mentions-legales">Mentions légales</a><span class="pipe_separator">|</span>
            <a href="/aide/CGU">Conditions Générales d'Utilisation</a><span class="pipe_separator">|</span>
            <a href="/aide/contact">Contact</a>
        </div>
    </div>
</footer>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>Modal body</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<div id="scrollToTop">
    <a href="#"><i class="fal fa-angle-up" title="Haut de page"></i></a>
</div>

{% block extra_js %}
{% endblock %}

{% if contexthelps %}
<script type="text/javascript">
    // Insertion dynamique d'icône d'aide
    $(function () {
        {% for help in contexthelps %}
            if (!$('[class^=ctx-help-{{ help.name }}]').length) { // si l'icône n'existe pas
                var help_icon = '<i class="ctx-help-{{ help.name }} fas fa-info-circle"></i>';
                {% for inserts in help.position_as_list %}
                    {% if inserts.typeinsert == 'after' %}
                        $('{{ inserts.selecteur }}').after(help_icon); // l'insérer après
                    {% else %}
                        $('{{ inserts.selecteur }}').append(help_icon);  // l'insérer dedans
                    {% endif %}
                {% endfor %}
                $('[class^=ctx-help-{{ help.name }}]').tooltip({  // et activer la tooltip
                    title: retrieveData,
                    html: true,
                    container: 'body',
                    trigger: 'click hover focus',
                    placement: 'top',
                });
            }
        {% endfor %}
    })
</script>
{% endif %}

{% clever_selects_js_import %}
</body>
</html>
