{% extends "base.html" %}

{# load url from future #}
{% load i18n %}

{% block head_title %}
    Tableau de bord instructeur
{% endblock %}

{% block page_title %}
    <h1><i class="fas fa-tachometer-alt"></i> Tableau de bord des archives
        <a href="{% url 'declarations:dashboard' %}"><span class="pull-right label label-primary">&nbsp;<i class="fa fa-mail-reply" aria-hidden="true" title="Retour"></i></span></a></h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h3><i class="far fa-gem" aria-hidden="true" title="Autorisation"></i> Autorisations ou déclarations compétitives<br></h3>

            <div class="panel  authorizations-requested">
                <div class="list-group">
                    {% for authorization in autorisations %}
                        <a class="list-group-item
                            {% if authorization.state == 'published' %}
                                list-group-item-success
                            {% elif authorization.state == 'dispatched' %}
                                list-group-item-warning
                            {% elif authorization.state == 'created' %}
                                list-group-item-danger
                            {% endif %}
                            "
                           href="{% url 'authorizations:authorization_detail' authorization.id %}">{{ authorization.manifestation.begin_date|date:"d/m/Y" }} : {{ authorization.manifestation }}<br>
                           <small>↦ {{ authorization.manifestation.departure_city }}
                           {% if INSTANCE.get_instruction_mode %}
                                ({{ authorization.manifestation.departure_city.arrondissement }})
                            {% endif %}</small>

                            {% if not authorization.state == 'created' %}
                                {% if authorization.are_avis_validated %}
                                    <span class="badge badge-success top-right"><i class="fas fa-check"></i></span>
                                {% else %}
                                    <span class="badge badge-secondary top-right">{{ authorization.get_pending_avis_count }}&nbsp; avis manquants</span>
                                {% endif %}
                            {% endif %}
                        </a>
                    {% empty %}
                        <a class="list-group-item disabled">Aucune autorisation à gérer</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h3><i class="far fa-star" aria-hidden="true" title="déclaration"></i> Déclarations</h3>

            <div class="panel  declarations">
                <div class="list-group">
                    {% for declaration in object_list %}
                        <a class="list-group-item
                            {% if declaration.state == 'published' %}
                                list-group-item-success
                            {% elif declaration.state == 'created' %}
                                list-group-item-danger
                            {% endif %}
                            "
                           href="{% url 'declarations:declaration_detail' declaration.id %}">{{ declaration.manifestation.begin_date|date:"d/m/Y" }}
                            : {{ declaration.manifestation }}<br>
                             <small>↦ {{ declaration.manifestation.departure_city }}
                           {% if INSTANCE.get_instruction_mode %}
                                ({{ declaration.manifestation.departure_city.arrondissement }})
                            {% endif %}</small>

                        </a>
                    {% empty %}
                        <a class="list-group-item disabled">Aucune déclaration à gérer</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
