{% extends "admin/base.html" %}
{% load staticfiles i18n %}

{% block title %}{{ title }} | Administration de la plateforme Manifestation Sportive{% endblock %}

{% block branding %}
<h1 id="site-name">Administration Manifestation Sportive</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}
    <link href="{% static 'libs/chosen/chosen.min.css' %}" rel='stylesheet' type='text/css'>
    <script src="{% static 'libs/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/chosen/chosen.jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/chosen-definition.js' %}" type="text/javascript"></script>
{% endblock %}