{% load nouveautes_tags %}
{% if request|nouveaute_available %}
    <br>
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Fermer" title="Fermer">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <div class="col-1">
                <i class="fas fa-exclamation-circle fa-3x"></i>
            </div>
            <div class="col-11">
                Information{% if request|nouveaute_list|length > 1 %}s{% endif %} :
                <ul style="margin-bottom: 0;">
                    {% for nouveaute in request|nouveaute_list|slice:"0:3" %}
                        <li><a href="{{ nouveaute.get_absolute_url }}">{{ nouveaute.title }}</a></li>
                    {% endfor %}
                    {% if request|nouveaute_list|length > 3 %}
                        <li>{{ request|nouveaute_list|length|add:"-3" }} autre(s) nouveauté(s) manquée(s)</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}
