{% extends "base.html" %}


{% load i18n %}

{% block head_title %}
    Profil
{% endblock %}

{% block page_title %}
    <h1>Profil de {{ object.username }}</h1>
{% endblock %}

{% block content %}
    <div class="row">
    <div class=" col-md-6">
        <div class="card">
            <div class="card-header bg-primary"><i class="fas fa-user-altfa-star"></i>Utilisateur : {{ object.username }}</div>
            <div class="card-body">
                <ul class="list-group">
                    {% if object.get_service %}
                        <li class="list-group-item">Service : {{ object.get_service|upper }}</li>
                    {% endif %}
                    <li class="list-group-item">Nom : {{ object.last_name|title }}</li>
                    <li class="list-group-item">Prénom : {{ object.first_name|title }}</li>
                    <li class="list-group-item">E-mail : {{ object.email }} <a href="{% url 'account_email' %}"> <i class="fas fa-pencil-altfa-star"></i>Modifier</a></li>
                    <li class="list-group-item"><a href="{% url 'account_change_password' %}"><i class="fas fa-pencil-altfa-star"></i>Modifier mon mot de passe</a></li>
                </ul>
                <a class="btn btn-primary btn-action" href="{% url 'profile_edit' %}" role="button"><i class="fas fa-pencil-altfa-star"></i>Modifier</a>
            </div>
        </div>
    </div>
    {% if object.organisateur.structure %}
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary"><i class="fas fa-homefa-star"></i>Structure : {{ object.organisateur.structure.name }}</div>
                <div class="card-body">
                    <ul class="list-group">
                    <li class="list-group-item">Type de structure : {{ object.organisateur.structure.type_of_structure }}</li>
                    <li class="list-group-item">Adresse : {{ object.organisateur.structure.address|title }},
                        {{ object.organisateur.structure.commune.zip_code }} {{ object.organisateur.structure.commune }}</li>
                    <li class="list-group-item">Numéro de téléphone : {{ object.organisateur.structure.phone }}</li>
                    {% if object.organisateur.structure.website %}
                        <li class="list-group-item">Site web :
                            <a href="{{ object.organisateur.structure.website }}" target="_blank">{{ object.organisateur.structure.website }}</a>
                        </li>
                    {% endif %}
                </ul>
                <a class="btn btn-primary btn-action" href="{% url 'structure_edit' %}" role="button"><i class="fas fa-pencil-altfa-star"></i>Modifier</a>
                </div>
            </div>
        </div>
        <div class="col-md-12">
        <p>
            <a href="{% url 'nouveautes:list' %}">Revoir les nouveautés de la plateforme</a>
        </p>
        </div>
    {% endif %}
    </div>
{% endblock %}
