{% extends "base.html" %}

{# load url from future #}
{% load i18n file_tags %}

{% block head_title %}
    Autorisation de manifestation
{% endblock %}

{% block page_title %}
    <div class="row">
        <div class="col-sm-2">
            <i class="far fa-gem" title="Autorisation"></i> Autorisation <br>
            <i class="far fa-calendar-alt" title="Date"></i> {{ object.manifestation.begin_date|date:"d/m/Y" }}
        </div>
        <div class="col-sm-7">
            <i class="fas fa-home" title="Structure"></i> {{ object.manifestation.structure|capfirst }} <br>
            <i class="fas fa-folder-open" title="Manifestation"></i> {{ object.manifestation|capfirst }}
        </div>
        <div class="col-sm-3 text-right">
            {% include 'events/event_picto.html' %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#authorization" data-toggle="pill"><i
                        class="fas fa-random"></i> Suivi de l'instruction</a></li>
                <li class="nav-item"><a class="nav-link" href="#event" data-toggle="pill"><i class="fas fa-tasks"></i>
                    Détail de la manifestation</a></li>
                {% include 'events/event_tabs.html' with object=object.manifestation %}
            </ul>
            <div class="tab-content">
                <div id="authorization" class="card tab-pane fade show active">
                    <ul class="list-group">
                        {% if object.manifestation.creation_date %}
                            <li class="list-group-item">Date de création de la manifestation
                                : {{ object.manifestation.creation_date }}</li>
                        {% endif %}
                        <li class="list-group-item">Date de demande d'autorisation : {{ object.creation_date }}</li>
                        <li class="list-group-item">Type de manifestation : {{ object }}</li>
                        {% if object.bylaw %}
                            <li class="list-group-item">Arrêté ou récépissé de déclaration : <a
                                    href="{{ object.bylaw.url }}" target='_blank'>{{ object.bylaw|basename }}</a></li>
                        {% endif %}
                    </ul>
                    <div class="text-right">
                        En attente de réponse &rarr; <i class="far fa-hourglass text-info left-margin"></i><br>
                        Réponse favorable &rarr; <i class="fas fa-check left-margin text-success"></i><br>
                        Réponse non favorable &rarr; <i class="far fa-exclamation-triangle left-margin text-danger"></i><br>
                        Présence de prescriptions &rarr; <i class="far fa-comment-dots left-margin text-warning"></i><br><br>
                    </div>
                    <div id="accordion">
                        {% for avis in object.avis.all %}
                            <div class="card bg-light">
                                <div class="card-header" id="heading{{ avis.pk }}">
                                    <div class="" data-toggle="collapse" data-target="#collapse{{ avis.pk }}"
                                         aria-expanded="false" aria-controls="collapse{{ avis.pk }}">
                                        <i class="fas fa-key"></i>Avis :
                                        {% if avis.serviceavis %}
                                            {{ avis.serviceavis.service }}
                                        {% elif avis.federationavis %}
                                            {{ avis.federationavis.get_federation }}
                                        {% elif avis.mairieavis %}
                                            {{ avis.mairieavis.commune }}
                                        {% elif avis.edsravis %}
                                            {{ avis.edsravis.get_edsr }}
                                        {% elif avis.sdisavis %}
                                            {{ avis.sdisavis.get_sdis }}
                                        {% elif avis.ddspavis %}
                                            {{ avis.ddspavis.get_ddsp }}
                                        {% elif avis.cgavis %}
                                            {{ avis.cgavis.get_cg }}
                                        {% elif avis.ggdavis %}
                                            {{ avis.ggdavis.get_ggd }}
                                        {% endif %}
                                        <span class="float-right">
                            {% if avis.reply_date %}
                                {% if avis.favorable %} <i class="fas fa-check left-margin text-success"></i>
                                {% endif %}
                                {% if not avis.favorable %}
                                    <i class="far fa-exclamation-triangle left-margin text-danger"></i> {% endif %}
                                {% if avis.prescriptions %} <i class="far fa-comment-dots text-warning"></i> {% endif %}
                            {% else %}
                                <i class="far fa-hourglass text-info left-margin"></i>
                            {% endif %}
</span>
                                    </div>
                                </div>

                                <div id="collapse{{ avis.pk }}" class="collapse" aria-labelledby="heading{{ avis.pk }}"
                                     data-parent="#accordion">
                                    <div class="card-body">


                                        <ul class="list-group">
                                            <li class="list-group-item">L'avis a été envoyé
                                                le {{ avis.request_date }}</li>
                                            {% ifnotequal avis.state 'acknowledged' %}
                                                <li class="list-group-item">L'avis est en cours d'examen</li>
                                            {% else %}
                                                <li class="list-group-item">Date de l'avis : {{ avis.reply_date }}</li>
                                                <li class="list-group-item">Favorable
                                                    : {{ avis.favorable|yesno|title }}</li>
                                                <li class="list-group-item">Prescriptions
                                                    : {{ avis.prescriptions|linebreaks }}</li>
                                                {% if avis.attached_document %}
                                                    <li class="list-group-item">Document joint :
                                                        <a href="{{ avis.attached_document.url }}"
                                                           target='_blank'>{{ avis.attached_document|basename }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endifnotequal %}

                                            {% if avis.state != 'acknowledged' and object.state != 'published' %}
                                                <li class="list-group-item">
                                                    {% if avis.serviceavis %}
                                                        <a class="btn btn-warning"
                                                           href="{% url 'agreements:service_agreement_resend' pk=avis.pk %}"
                                                           role="button"><i class="fas fa-paper-plane"></i>Envoyer à
                                                            nouveau
                                                            la demande d'avis</a>
                                                    {% elif avis.federationavis %}
                                                        <a class="btn btn-warning"
                                                           href="{% url 'agreements:federal_agreement_resend' pk=avis.pk %}"
                                                           role="button"><i class="fas fa-paper-plane"></i>Envoyer à
                                                            nouveau
                                                            la demande d'avis</a>
                                                    {% elif avis.mairieavis %}
                                                        <a class="btn btn-warning"
                                                           href="{% url 'agreements:townhall_agreement_resend' pk=avis.pk %}"
                                                           role="button"><i class="fas fa-paper-plane"></i>Envoyer à
                                                            nouveau
                                                            la demande d'avis</a>
                                                    {% elif avis.edsravis %}
                                                        <a class="btn btn-warning"
                                                           href="{% url 'agreements:edsr_agreement_resend' pk=avis.pk %}"
                                                           role="button"><i class="fas fa-paper-plane"></i>Envoyer à
                                                            nouveau
                                                            la demande d'avis</a>
                                                    {% elif avis.sdisavis %}
                                                        <a class="btn btn-warning"
                                                           href="{% url 'agreements:sdis_agreement_resend' pk=avis.pk %}"
                                                           role="button"><i class="fas fa-paper-plane"></i>Envoyer à
                                                            nouveau
                                                            la demande d'avis</a>
                                                    {% elif avis.ddspavis %}
                                                        <a class="btn btn-warning"
                                                           href="{% url 'agreements:ddsp_agreement_resend' pk=avis.pk %}"
                                                           role="button"><i class="fas fa-paper-plane"></i>Envoyer à
                                                            nouveau
                                                            la demande d'avis</a>
                                                    {% elif avis.cgavis %}
                                                        <a class="btn btn-warning"
                                                           href="{% url 'agreements:cg_agreement_resend' pk=avis.pk %}"
                                                           role="button"><i class="fas fa-paper-plane"></i>Envoyer à
                                                            nouveau
                                                            la demande d'avis</a>
                                                    {% elif avis.ggdavis %}
                                                        <a class="btn btn-warning"
                                                           href="{% url 'agreements:ggd_agreement_resend' pk=avis.pk %}"
                                                           role="button"><i class="fas fa-paper-plane"></i>Envoyer à
                                                            nouveau
                                                            la demande d'avis</a>
                                                    {% endif %}
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% include 'events/event_panel_instructor.html' with object=object.manifestation %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header bg-primary">
                    <i class="fas fa-magic"></i> Actions disponibles
                </div>
                <div class="card-body">
                    <p>Retrouvez ici toutes les actions disponibles liées à cette manifestation</p>
                <ul class="list-no-style">
                    <li>
                        <a href="{% url 'events:manifestation_instructeur' pk=object.manifestation.id %}" class="btn"
                           role="btn">
                            <i class="far fa-edit"></i> Modifier l'affichage dans le calendrier public
                        </a>
                    </li>
                    {% if object.state != 'published' %}
                        <li>
                            <a href="{% url 'events:additional_data_add' manifestation_pk=object.manifestation.id %}"
                               class="btn" role="button">
                                <i class="fas fa-plus-square" title="demander"></i> Demander plus d'informations
                            </a>
                        </li>
                    {% endif %}
                    {% if object.state == 'created' %}
                        <li>
                            <a href="{% url 'authorizations:authorization_update' pk=object.id %}" class="btn"
                               role="button">
                                <i class="fas fa-paper-plane" title="envoyer"></i> Envoyer les demandes d'avis <i
                                    class="fas fa-key left-margin" title="avis"></i>
                            </a>
                        </li>
                    {% elif object.state == 'dispatched' %}
                        <li>
                            <a href="{% url 'authorizations:authorization_update' pk=object.id %}" class="btn"
                               role="button">
                                <i class="fas fa-plus-square" title="demander"></i> Ajouter des demandes d'avis <i
                                    class="fas fa-key left-margin" title="avis"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'authorizations:authorization_publish' pk=object.id %}" class="btn"
                               role="button">
                                <i class="fas fa-gavel" title="arrêté"></i> Publier l'arrêté ou le récépissé de
                                déclaration
                            </a>
                        </li>
                    {% endif %}
                </ul>
                </div>
            </div>
            {% if user.instructeur %}
                <a href="{% url 'declarations:dashboard' %}" class="btn btn-outline-secondary btn-fill mt-4" role="button"><i
                        class="fas fa-reply" title="retour"></i>
                    Tableau de bord des instructions en mairie<i class="fas fa-tachometer-alt left-margin"
                                                                 title="tableau de bord"></i></a>
                <a href="{% url 'authorizations:dashboard' %}" class="btn btn-outline-secondary btn-fill mt-3" role="button"><i
                        class="fas fa-reply" title="retour"></i>
                    Revenir au tableau de bord <i class="fas fa-tachometer-alt left-margin" title="tableau de bord"></i></a>
            {% elif user.agent.mairieagent %}
                <a href="{% url 'declarations:dashboard' %}" class="btn btn-outline-secondary btn-fill mt-4" role="button"><i
                        class="fas fa-reply" title="retour"></i>
                    Revenir au tableau de bord <i class="fas fa-tachometer-alt left-margin mt-3" title="tableau de bord"></i></a>
            {% else %}
                <a href="{% url 'events:dashboard' %}" class="btn btn-outline-secondary btn-fill mt-3" role="button"><i
                        class="fas fa-reply" title="retour"></i>
                    Revenir au tableau de bord <i class="fas fa-tachometer-alt left-margin" title="tableau de bord"></i></a>
            {% endif %}
        </div>
    </div>
{% endblock %}
