{% extends "base.html" %}


{% load i18n %}

{% block head_title %}
    Calendrier
{% endblock %}

{% block page_title %}
    <h1>Manifestations sportives à venir dans le département {{ INSTANCE.get_departement }}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        {% for activite in activities %}
            <a href="{% url 'portail:filtered_calendar' activite=activite.pk %}" class="btn {% if current_activite == activite.id %}btn-primary{% else %}btn-outline-secondary{% endif %} btn-sm">
                {{ activite|title }}
            </a>
        {% endfor %}
        <a href="{% url 'portail:calendar' %}" class="btn btn-outline-secondary btn-sm">Toutes les activités</a>
    </div>
    <br>
        <div class="col-sm-6">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                {% regroup object_list by begin_date|date:"F Y" as months %}
                {% for month in months %}
                    <div class="card ">
                        <div class="card-header" role="tab" id="heading{{ forloop.counter }}">
                            <h4 class="card-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                                    {{ month.grouper }}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{ forloop.counter }}" class="card-collapse collapse{% if forloop.first %} show {% endif %}" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordion">
                            <ul class="list-group">
                                {% for manifestation in month.list %}
                                    {% if manifestation.is_visible_in_calendar %}
                                        <a href="{% url 'events:manifestation_detail' manifestation.id %}" class="list-group-item list-group-item-action">
                                            <small>{{ manifestation.begin_date|date:"l j" }}</small>
                                            <br/>{{ manifestation }}
                                            <br/><small>Départ à {{ manifestation.departure_city }}</small>
                                            {% if manifestation.manifestationautorisation.state != 'published' %}
                                                <br><strong class="text-info">En cours d'instruction</strong>
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% comment %}
            <div class="col-sm-6">
                {% include 'events/map.html' %}
            </div>
        {% endcomment %}
{% endblock %}
