{% extends "base.html" %}


{% load i18n %}

{% block head_title %}
    Tableau de bord
{% endblock %}

{% block page_title %}
    <h1><i class="fas fa-tachometer-alt"></i> Tableau de bord des archives<a href="{% url 'sub_agreements:dashboard' %}">
        <span class="float-right badge badge-primary">&nbsp;<i class="fas fa-reply"></i></span></a></h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h3><i class="fas fa-tags"></i> Pré-avis demandés</h3>
            <div class="card ">
                <div class="list-group">
                    {% for sub_agreement in object_list %}
                        <a class="list-group-item list-group-item-action
                            {% if sub_agreement.state == 'acknowledged' %}
                                list-group-item-success
                            {% elif sub_agreement.state == 'notified' %}
                                list-group-item-warning
                            {% elif sub_agreement.state == 'created' %}
                                list-group-item-danger
                            {% endif %}
                            "
                            {% block subagreement_item %}{% endblock %}>
                            {{ sub_agreement.avis.authorization.manifestation.begin_date|date:"d/m/Y" }} : {{ sub_agreement }}
                        </a>
                    {% empty %}
                        <a class="list-group-item disabled">Aucune demande de pré-avis à traiter</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
