{% extends "base.html" %}


{% load i18n %}

{% block head_title %}{% endblock %}
{% block page_title %}
    <div class="row">
        <div class="col-sm-2">
            <i class="far fa-gem" title="Autorisation"></i> Autorisation <br>
            <i class="far fa-calendar-alt" title="Date"></i> {{ object.avis.authorization.manifestation.begin_date|date:"d/m/Y" }}
        </div>
        <div class="col-sm-7">
            <i class="fas fa-home" title="Structure"></i> {{ object.avis.authorization.manifestation.structure|capfirst }} &nbsp;&nbsp;&nbsp;
            <i class="fas fa-folder-open" title="Manifestation"></i> {{ object.avis.authorization.manifestation|capfirst }}
        </div>
        <div class="col-sm-3 text-right">
            {% include 'events/event_picto.html' %}
        </div>
    </div>

    {% ifequal object.state 'created' %}
        {% if not object.avis.delay_exceeded %}
            <div class="alert alert-warning">
                <p><strong>Attention ! </strong>
                    Vous avez jusqu'au {{ object.avis.get_deadline|date:'d F Y' }}, pour rendre le pré-avis.
                </p>
            </div>
        {% else %}
            <div class="alert alert-danger">
                <p><strong>Attention ! Vous aviez jusqu'au {{ object.avis.get_deadline|date:'d F Y' }}, pour rendre le pré-avis.</strong><br/>
                    Cette date est maintenant dépassée mais vous pouvez cependant encore le faire.
                </p>
            </div>
        {% endif %}
    {% endifequal %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <ul class="nav nav-pills">
                <li class="active"><a href="#subagreement" data-toggle="pill"><i class="fas fa-thumbs-up" title="préavis"></i>Pré-avis</a></li>
                <li><a href="#event" data-toggle="pill"><i class="fas fa-folder-open" title="Manifestation"></i> Détail de la manifestation</a></li>
                {% include 'events/event_tabs.html' with object=object.avis.authorization.manifestation %}
            </ul>
            <div class="tab-content">
                <div id="subagreement" class="card  tab-pane fade show active">
                    {% include 'agreements/avis_description.html' %}
                </div>
                {% include 'events/event_panel_instructor.html' with object=object.avis.authorization.manifestation %}
            </div>
        </div>
        <div class="col-sm-4">
            {% if object.avis.authorization.state == 'published' and object.avis.authorization.bylaw %}
                <div class="card">
                    <div class="card-header bg-primary">
                        L'arrêté d'autorisation a été publié
                    </div>
                    <div class="card-body">
                        <p>Vous pouvez le télécharger en cliquant sur le lien ci-dessous</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{{ object.avis.authorization.bylaw.url }}" target='_blank'>Arrêté d'autorisation</a></li>
                    </ul>
                </div>
            {% else %}
                <div class="card">
                    <div class="card-header bg-primary">
                        <i class="fas fa-magic"></i> Actions disponibles
                    </div>
                    <div class="card-body">
                        <p>Voici les actions disponibles relatives à cette manifestation</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            {% block agreement_actions %}{% endblock %}
                        </li>
                    </ul>
                </div>
            {% endif %}
            <a href="{% url 'sub_agreements:dashboard' %}" class="btn btn-outline-secondary btn-fill" role="button">
                <i class="fas fa-reply" title="retour"></i> Revenir au tableau de bord <i class="fas fa-tachometer-alt left-margin" title="tableau de bord"></i>
            </a>
        </div>
    </div>
{% endblock %}
