{% extends "sub_agreements/preavis_form.html" %}

{% load i18n %}

{% block head_title %}Choisissez les agents concernés{% endblock %}
{% block page_title %}
    <h1><i class="fas fa-paper-plane" title="informer"></i> Choisissez les agents concernés : {{ object.avis.authorization.manifestation|capfirst }}</h1>
{% endblock %}
