{% load i18n %}

<div class="card bg-light">
    <div class="card-header" id="heading{{ object.pk }}">
        <div class="" data-toggle="collapse" data-target="#collapse{{ object.pk }}"
             aria-expanded="false" aria-controls="collapse{{ object.pk }}">
            {% if object.avis %}
                <i class="fas fa-thumbs-up" title="préavis"></i> {{ object|capfirst }}
            {% else %}
                <i class="fas fa-key" title="avis"></i> {{ object|capfirst }}
            {% endif %}

            <span class="float-right">
                {% if object.reply_date %}
                    {% if object.favorable %} <i class="fas fa-check left-margin text-success"></i>
                    {% endif %}
                    {% if not object.favorable %}
                        <i class="far fa-exclamation-triangle left-margin text-danger"></i> {% endif %}
                    {% if object.prescriptions %} <i class="far fa-comment-dots text-warning"></i> {% endif %}
                {% else %}
                    <i class="far fa-hourglass text-info left-margin"></i>
                {% endif %}
            </span>
        </div>
    </div>

    <div id="collapse{{ object.pk }}" class="collapse" aria-labelledby="heading{{ object.pk }}"
         data-parent="#accordion">
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    Date de demande :
                    {{ object.request_date }}
                </li>
                {% if object.ggdavis and object.concerned_edsr %}
                    <li class="list-group-item">
                        L'avis a été délégué à {{ object.concerned_edsr }}
                    </li>
                {% endif %}
                {% if object.state == 'acknowledged' or object.state == 'formatted' %}
                    <li class="list-group-item">
                        {% if object.avis %}
                            Date de rendu du pré-avis :
                        {% else %}
                            Date de réponse :
                        {% endif %}
                        {{ object.reply_date|default_if_none:"Pas encore rendu" }}
                    </li>
                    <li class="list-group-item">
                        Favorable :
                        {{ object.favorable|yesno|title }}
                    </li>
                    <li class="list-group-item">
                        Prescriptions :
                        {{ object.prescriptions|linebreaks }}
                    </li>
                    {% if object.attached_document %}
                        <li class="list-group-item">
                            Pièce jointe :
                            <a href="{{ object.attached_document.url }}" target='_blank'>{{ object.attached_document }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>

</div>