{% extends "base_form.html" %}

{% load i18n %}

{% block head_title %}
    Envoyer les demandes de pré-avis
{% endblock %}

{% block page_title %}
    <h1><i class="fas fa-paper-plane" title="avis"></i>Envoyer les demandes de pré-avis : {{ object.authorization.manifestation|capfirst }}
        <i class="fas fa-thumbs-up left-margin" title="préavis"></i></h1>
{% endblock %}
