{% extends "base_form.html" %}

{% load i18n %}

{% block head_title %}
    Mettre en forme l'avis
{% endblock %}

{% block page_title %}
    <h1><i class="fas fa-pencil-alt" title="metre en forme"></i> Mettre en forme l'avis : {{ object.authorization.manifestation|capfirst }}
    <i class="fas fa-thumbs-up left-margin" title="préavis"></i></h1>
{% endblock %}
