{% extends "agreements/avis_detail.html" %}

{% load i18n %}

{% block agreement_actions %}
    {% if object.state == 'created' and request.user.agent.edsragent %}
        <a href="{% url 'agreements:edsr_agreement_dispatch' pk=object.id %}" class="btn" role="button">
            <i class="fas fa-paper-plane" title="envoyer"></i> Envoyer les demandes de pré-avis
            <i class="fas fa-thumbs-up left-margin" title="préavis"></i>
        </a>
    {% elif object.state == 'dispatched' and request.user.agent.edsragent %}
        {% if object.are_preavis_validated %}
            <a href="{% url 'agreements:edsr_agreement_format' pk=object.id %}" class="btn" role="button">
                <i class="fas fa-pencil-alt"></i> Mettre en forme l'avis
                <i class="fas fa-key left-margin" title="avis"></i>
            </a>
        {% else %}
            Un ou plusieurs préavis doivent être validés par les agents agréés.
        {% endif %}
    {% elif object.state == 'formatted' and request.user.agent.ggdagent %}
        <a href="{% url 'agreements:edsr_agreement_acknowledge' pk=object.id %}" class="btn" role="button">
            <i class="fas fa-key" title="avis"></i> Rendre l'avis
        </a>
    {% endif %}
{% endblock %}
