{% extends "agreements/avis_detail.html" %}

{% load i18n %}

{% block agreement_actions %}
    {% if request.user.agent.edsragent %}
        {% if object.state == 'created' and object.get_instance.get_workflow_ggd == WORKFLOW_GGD_EDSR %}
            <a href="{% url 'agreements:ggd_agreement_dispatch' pk=object.id %}" class="btn" role="button">
                <i class="fas fa-paper-plane" title="envoyer"></i> Envoyer les demandes de pré-avis
                <i class="fas fa-thumbs-up left-margin" title="préavis"></i>
            </a>
        {% elif object.state == 'dispatched' %}
            {% if object.are_preavis_validated %}
                <a href="{% url 'agreements:ggd_agreement_format' pk=object.id %}" class="btn" role="button">
                    <i class="fas fa-pencil-alt" title="mettre en forme"></i> Formater l'avis
                <i class="fas fa-key left-margin" title="avis"></i>
                </a>
            {% else %}
                Vous ne pouvez pas formater l'avis tant que les préavis ne sont pas tous rendus.
                {% if object.get_instance.get_workflow_ggd == WORKFLOW_GGD_EDSR %}
                    Un agent ESDR pourra ensuite formater l'avis avant qu'un agent GGD puisse le rendre.
                {% endif %}
            {% endif %}
        {% endif %}
    {% elif request.user.agent.ggdagent %}
        {% if object.get_instance.get_workflow_ggd == WORKFLOW_GGD_EDSR and object.state == 'created' %}
            {% if not object.concerned_edsr %}
                <a href="{% url 'agreements:ggd_agreement_pass' pk=object.id %}" class="btn" role="button">
                    <i class="fas fa-paper-plane" title="envoyer"></i> Choisir l'EDSR en charge des préavis
                    <i class="fas fa-thumbs-up left-margin" title="préavis"></i>
                </a>
            {% else %}
                Vous devez attendre le retour de l'avis formatté par l'EDSR
            {% endif %}
        {% elif object.get_instance.get_workflow_ggd == WORKFLOW_GGD_EDSR and object.state == 'dispatched' %}
            Vous devez attendre le retour de l'avis formatté par l'EDSR
        {% elif object.get_instance.get_workflow_ggd == WORKFLOW_GGD_EDSR and object.state == 'formatted' %}
            <a href="{% url 'agreements:ggd_agreement_acknowledge' pk=object.id %}" class="btn" role="button">
                <i class="fas fa-key" title="avis"></i> Rendre l'avis
            </a>
        {% elif object.get_instance.get_workflow_ggd == WORKFLOW_GGD_SUBEDSR and object.state == 'created' %}
            <a href="{% url 'agreements:ggd_agreement_dispatch' pk=object.id %}" class="btn" role="button">
                <i class="fas fa-paper-plane title="envoyer"></i> Envoyer les demandes de pré-avis
                <i class="fas fa-thumbs-up left-margin" title="préavis"></i>
            </a>
        {% elif object.get_instance.get_workflow_ggd == WORKFLOW_GGD_SUBEDSR and object.state == 'dispatched' %}
            {% if object.all_agreements_validated %}
                <a href="{% url 'agreements:ggd_agreement_acknowledge' pk=object.id %}" class="btn" role="button">
                    <i class="fas fa-key" title="avis"></i> Rendre l'avis
                </a>
            {% else %}
                Vous devez attendre que tous les pré-avis soient rendus.
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
