{% extends "base_form.html" %}

{% load i18n %}

{% block head_title %}Rendre l'avis{% endblock %}
{% block page_title %}
    <h1><i class="fas fa-key" title="avis"></i> Rendre l'avis</h1>
{% endblock %}
