{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">Accueil</a>
&rsaquo; Erreur de serveur
</div>
{% endblock %}

{% block title %}Erreur serveur (500){% endblock %}

{% block content %}
<h1>Erreur serveur <em>(500)</em></h1>
<p>Une erreur s'est produite. Elle a été signalée par email aux administrateurs du site et devrait être réparée promptement. Merci de votre patience.</p>

{% endblock %}
