{% extends "base.html" %}


{% load i18n %}

{% block head_title %}Choix du Type de Manifestation Non Motorisée{% endblock %}
{% block page_title %}
    <h1>
        <span class="fa-stack">
          <i class="fas fa-car fa-stack-1x"></i>
          <i class="fas fa-ban fa-stack-2x text-danger"></i>
        </span>
        <span class="fa-stack">
          <i class="fas fa-trophy fa-stack-1x"></i>
          <i class="fas fa-ban fa-stack-2x text-danger"></i>
        </span>
        Nombre de participants ? </h1>
{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <div class="list-group">
            <a href="{% url 'events:declarationnm_add' %}?dept={{ request.GET.dept }}" class="list-group-item list-group-item-action">
                <h3>
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x text-info"></i>
                  <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                    Oui</h3>
                Cette manifestation prévoit la circulation en un point déterminé de la voie publique ou de ses dépendances de : <br/>
                -  Plus de 100 participants
            </a>
            <a href="{% url 'events:dashboard' %}" class="list-group-item list-group-item-action">
                <h3>
                <span class="fa-stack">
                  <i class="fas fa-users fa-stack-1x"></i>
                  <i class="fas fa-ban fa-stack-2x text-danger"></i>
                </span>
                    Non</h3>
                La déclaration en préfecture n'est pas nécessaire dans ce cas<br/>
                <i class="fas fa-reply" title="retour"></i> Revenir au tableau de bord <i class="fas fa-tachometer-alt left-margin" title="tableau de bord"></i>
            </a>
        </div>
    </div>
{% endblock %}
