{% extends "base.html" %}


{% load i18n %}

{% block head_title %}Selection du département de la manifestation{% endblock %}
{% block page_title %}
    <h1><i class="fas fa-map-marker-alt"></i>Sélectionnez le département où débute votre manifestation</h1>
{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <div class="list-group">
            {% for departement in departements %}
                <a href="{% url 'events:create_route' %}?dept={{ departement.name }}" class="list-group-item list-group-item-action">
                    <h3>{{ departement }}</h3>
                </a>
            {% endfor %}
            <a href="{% url 'events:unsupported_manifestation_add' %}" class="list-group-item list-group-item-action">
                <h3>Autre département</h3>
            </a>
        </div>
    </div>
{% endblock %}
