{% extends "base.html" %}


{% load i18n %}

{% block head_title %}Selection du type de manifestation{% endblock %}
{% block page_title %}
    <h1>Sélectionnez le type de manifestation sportive que vous souhaitez organiser</h1>
{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <div class="list-group">
            <a href="{% url 'events:motorizedevent_choose' %}?dept={{ request.GET.dept }}" class="list-group-item list-group-item-action">
                <h3>
                    <span class="fa-stack">
                      <i class="fas fa-circle fa-stack-2x text-info"></i>
                      <i class="fas fa-car fa-stack-1x fa-inverse"></i>
                    </span>
                    Manifestation sportive avec participation de véhicules terrestres à moteur *</h3>
            </a>
            <a href="{% url 'events:nonmotorizedevent_choose' %}?dept={{ request.GET.dept }}" class="list-group-item list-group-item-action">
                <h3>
                    <span class="fa-stack">
                      <i class="fas fa-car fa-stack-1x"></i>
                      <i class="fas fa-ban fa-stack-2x text-danger"></i>
                    </span>
                    Manifestation sportive sans participation de véhicules terrestres à moteur *</h3>
            </a>
        </div>
        <p>* La notion de véhicules terrestres à moteur concerne les participants à la manifestation</p>

    </div>
{% endblock %}
