{% extends "base.html" %}


{% load i18n %}

{% block head_title %}Sélection du Type de Manifestation Sportive{% endblock %}
{% block page_title %}
    <h1>
        <span class="fa-stack">
          <i class="fas fa-circle fa-stack-2x text-info"></i>
          <i class="fas fa-car fa-stack-1x fa-inverse"></i>
        </span>
        Sélectionnez le type de manifestation sportive</h1>
{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <div class="list-group">
            <a href="{% url 'events:publicroadmotorizedevent_choose' %}?dept={{ request.GET.dept }}" class="list-group-item list-group-item-action">
                <h3>
                    <span class="fa-stack">
                      <i class="fas fa-circle fa-stack-2x text-info"></i>
                      <i class="fas fa-road fa-stack-1x fa-inverse"></i>
                    </span>
                    Manifestation sportive sur voie publique ou ouverte à la circulation publique</h3>
                <ul>
                    <li>Les voies publiques : Les voies classées dans le domaine public routier de l'Etat, des
                        départements et des communes (voies communales, départementales, nationales, autoroutes)
                    </li>
                    <li>Les chemins ruraux : les chemins inscrits au domaine privé de la commune affectés à l'usage public</li>
                    <li>les voies privées ouvertes à la circulation publique des véhicules à moteur : <!--TODO definition--></li>
                </ul>
            </a>
            <a href="{% url 'events:motorizedrace_add' %}?dept={{ request.GET.dept }}" class="list-group-item list-group-item-action">
                <h3>
                    <span class="fa-stack">
                      <i class="fas fa-road fa-stack-1x"></i>
                      <i class="fas fa-ban fa-stack-2x text-danger"></i>
                    </span>
                    Manifestation hors voie publique ou ouverte à la circulation publique</h3>
                (Article R331-18 du code du sport)
                <ul>
                    <li>Regroupement de VTM et d'un ou plusieurs pilotes ou pratiquants</li>
                    <li>Visant à présenter, de façon organisée pour les spectateurs</li>
                    <li>Un sport mécanique sous ses différentes formes</li>
                </ul>
            </a>
        </div>
    </div>
{% endblock %}
