{% extends "base.html" %}


{% load i18n %}

{% block head_title %}Choix du Type de Manifestation Non Motorisée{% endblock %}
{% block page_title %}
    <h1>
        <span class="fa-stack">
          <i class="fas fa-car fa-stack-1x"></i>
          <i class="fas fa-ban fa-stack-2x text-danger"></i>
        </span>
        Vous organisez une compétition ? </h1>
{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <div class="list-group">
            <a href="{% url 'events:autorisationnm_add' %}?dept={{ request.GET.dept }}" class="list-group-item list-group-item-action">
                <h3>
                    <span class="fa-stack">
                      <i class="fas fa-circle fa-stack-2x text-info"></i>
                      <i class="fas fa-trophy fa-stack-1x fa-inverse"></i>
                    </span>
                    Oui</h3>
                Avec horaire fixe ou classement, vitesse ou moyenne imposée
            </a>
            <a href="{% url 'events:declarationnm_choose' %}?dept={{ request.GET.dept }}" class="list-group-item list-group-item-action">
            <h3>
                    <span class="fa-stack">
                      <i class="fas fa-trophy fa-stack-1x"></i>
                      <i class="fas fa-ban fa-stack-2x text-danger"></i>
                    </span>
                    Non</h3>
            </a>
        </div>
    </div>
{% endblock %}
