/*

Vert principal : #9aa400
Vert plus foncé : #7d9100
Vert plus clair : #869200
Bleu : #015A70
Gris taupe : #857865

overides html tag
overides classes
custom classes
navbar
overrides bootstrap
overrides
footer
Tooltip de aide.context
#accordion
tabs & nav-tabs
homepage
todo : à trier
 */

@font-face {
    font-family:"Lato";
    src: url("/static/libs/font-lato/Lato-Regular.ttf") /* TTF file for CSS3 browsers */
}

/* bof html tag */
body {
    padding-top: 75px;
    padding-bottom: 120px;
    font-family: "Lato", "Open Sans", "Helvetica Neue";
}

body, .btn, .form-control {
    font-size: 0.85rem;
}

@media all and (max-width: 768px) {
    body {
    padding-bottom: 0;
    }
}

a {
    color: #015A70;
}

.h1, h1 {
    font-size: 19px;
    font-style: italic;
    letter-spacing: 0.1em;
}

.h2, h2 {
    font-size: 17px;
}

.h3, h3 {
    font-size: 15px;
    margin-top: 20px;
}

.h1, .h2, .h3, h1, h2 {
    margin: 6px 0;
    color: #015a70;
}

p {
    word-wrap: break-word;
}

blockquote {
    font-size: 1rem;
    padding: 10px 20px;
    margin-left: 20px;
    border-left: 5px solid #eee;
}


/* eof html tag */

/* bof overides classes */

.fa {
    margin-right: 5px;
}

.scroll-table {
    display: block;
    max-height: 600px;
    overflow-y: scroll;
}

.float-right + .float-right {
    margin-right: 10px;
}

.page-header {
    background-color: #fbfbfb;
    margin: 10px 0 20px;
    min-height: 0;
    padding: 4px 14px;
    border-color: #ddd;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom: 5px solid #ddd;
    border-left-width: 1px;
    border-radius: 4px 4px 0 0;
    color: #015a70;
    font-size: 0.9rem;

}
/* eof overides classes */

/* bof custom classes */

.table {
    background-color: #ffffff;
}

.permalink {
    float: right;
    margin-top: -20px;
}

.background-contrast {
    background-color: #015A70;
    color: #ffffff;
}

.top-right {
    position: absolute;
    right: 5px;
    top: 11px;
}

.list-no-style {
    list-style-type: none;
     padding-left: 0px;
}
/* eof custom classes */

/* bof navbar */


.navbar {
    background: #869200 linear-gradient(to right, #869200, #9aa400);
    border: unset;
}

.navbar-brand {
    padding-top: 2px;
    padding-bottom: 2px;
}

@media all and (max-width: 1200px) {
    .navbar-brand img {
        height: 35px;
        width: 130px;
    }
}

.navbar-inverse .navbar-nav > li > a {
    display: block;
    text-align: right;
    color: #fff;
    font-size: 1em;
    padding: 5px 20px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #7d9100;
    padding: 12px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #7d9100;
}

/* eof navbar */

/* bof overrides bootstrap */

.bg-primary, .badge-primary {
    background-color: #015A70!important;
    color: #ffffff;
}

.btn-primary {
    color: #fff;
    background-color: #015A70;
    border-color: #015A70;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #015A70;
}


/* eof overrides bootstrap */


/* bof overrides Bootstrap 4 Ti-Ta-Toggle */
/* en lien avec templates/bootstrap4/field.html */

.checkbox-slider--a input:checked + span::after {
    content: "Oui";
    background-color: #9aa400;
    line-height: 18px;
}
.checkbox-slider--a input + span::after {
    content: "Non";
    line-height: 18px;
}
.checkbox-slider--a input + span::after, .checkbox-slider--a input + span::before {
    border-radius: .25rem;
}

/* eof overrides Bootstrap 4 Ti-Ta-Toggle */

/* bof footer */

footer {
    background-color: #9aa400;
    bottom: 0;
    color: white;
    margin-top: 20px;
    position: fixed;
    width: 100%;
}

@media all and (max-width: 768px) {
    footer {
        position: relative;
    }
}

footer > .container > h2 {
}

footer a {
    color: #ffffff;
}

#footer-info {
    color: #FFFFFF;
    background-color: #015A70;
    font-size: 0.8em;
    padding: 4px;
    text-transform: uppercase;
}

#footer-info a:hover {
    color: #9AA400;
}

.summary {
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    letter-spacing: 0em;
}
.pipe_separator {
    margin: 0 10px;
}
/* eof footer */


/* bof Tooltip de aide.context */
i[class^="ctx-help-"] {
    color: #9AA400;
    cursor: pointer;
     padding-left: 6px;
}

.tooltip-inner {
    color: #ffffff;
    background-color: #015A70;
    font-family: "Lato", "Open Sans", "Helvetica Neue";
    font-size: 0.85rem;
    text-align: left;
    max-width: 400px;
    white-space: normal;
    padding: 16px;
    line-height: 1.2;
}

.tooltip.in {
  opacity: 1;
}

.tooltip-inner a {
    color: #ffffff;
    text-decoration: underline;
}

/* eof Tooltip de aide.context */


/* bof #accordion */

div[id^="accordion"] i.fa-plus {
    color: #9aa400;
}

/* bof #accordion */

/* bof #accordion .panel*/

div[id^="accordion"] .panel {
    border: unset;
    background-color: unset;
    box-shadow: unset;
}
div[id^="accordion"] .panel-default > .card-header:hover {
    border: #959F00;
    background-color: unset;
}
div[id^="accordion"] .panel-group .panel {
    border-radius: 0;
}
div[id^="accordion"] .panel-default > .card-header {
    background-color: unset;
    border-color: unset;
}
div[id^="accordion"] .panel-title {
    font-size: 0.9rem;
    font-weight: 600;
}
div[id^="accordion"] .panel-default > .panel-header + .card-collapse > .panel-body {
    border-top: unset;
    border-left:  1px solid #9aa400;
}
div[id^="accordion"] .panel-header {
    padding: 5px;
}

div[id^="accordion"] .panel-body {
    padding: 6px 0 0 10px;
    margin-left: 39px;
    border-left: 1px dotted #9aa400;
}


/* eof #accordion */


/* bof #accordion .card*/


div[id^="accordion"] .card {
    /*width: 100%;*/
    /*border: 1px solid #007bff;*/
    margin-bottom: 15px;
}

div[id^="accordion"] .card p {
    font-size: 14px;
}

div[id^="accordion"] .card-header {
    cursor: pointer;
}



/* eof #accordion .cart*/


/* bof tabs & nav-tabs */

.nav-tabs {
    padding-bottom: 4px;
}

.nav-tabs > li > a, .nav-tabs > li > a:focus, .nav-tabs > li > a:hover {

    border: 1px solid #ddd;
}
.nav-tabs > li > a:hover {
 background-color: #ffffff;
}

.nav-tabs > li > a.active, .nav-tabs > li > a.active:focus, .nav-tabs > li > a.active:hover {
    color: #ffffff;
    background-color: #99A300;
}

.tab-content {
    padding-top: 8px;
}

.nav > li > a {
    padding: 6px 10px;
}
.nav-tabs > li > a {
    margin-right: 8px;
    border-radius: unset;
}

/* eof tabs & nav-tabs */

/* bof homepage */

.page-header-home {
    background-color: #015A70;
    margin-top: 0px;
    color: #ffffff;
}

.page-header-home > .container > .row > .col-sm-4 > .thumbnail {
    background-color: #dcdcdc;
    margin-bottom: 0px;
}

.button-home {
    padding: 0 10px 0 40px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 35px;
    font-size: 0.8em;
}

@media all and (max-width: 1200px) {
    .button-home {
    font-size: 0.8em;
        margin-top: 15px;
    }
}


.button-home a {
    color: #ffffff;
    background-color: #857865;
    border-radius: 0;
    padding: 0 20px 0 30px;
    margin-left: 10px;
    height: 140px;
    white-space: normal;
    font-size: 1.2em;
}

@media all and (max-width: 1200px) {
    .button-home a {
        height: 85px;
    }
}

.button-home a:hover {
    background-color: #9AA400;
    color: white;
}

.button-home a h2 {
    font-size: 1.5em;
    text-transform: uppercase;
}

.button-home a i {
    background-color: #9aa400;
    border-radius: 28px;
    color: #ffffff;
    display: block;
    height: 56px;
    left: 10px;
    padding-top: 13px;
    position: absolute;
    width: 57px;
    font-size: 2.2em;
    top: 40px;
}

@media all and (max-width: 1200px) {
    .button-home a i {
        top: 14px;
    }
}

.button-home a:hover i {
    background-color: #857865;
}

.button-home span {
    white-space: normal;
}

#carte-fr {
    height: 400px;
    width: 100%;
    padding: 10px;
}

.h1-home {
    font-style: initial;
    line-height: 1.6em;
    margin: 0;
    color: #ffffff;
    letter-spacing: 0;
}
.h2-home {
    color: #ffffff;
    font-style: normal;
}

.cadre-blanc {
    border: 1px solid #ffffff;
    padding: 30px 20px;
    height: 120px;
    margin: 40px 0;
    width: 100%;
}

@media all and (max-width: 1200px) {
    .cadre-blanc {
        font-size: 0.8em;
    }
}

.cadre-rf {
    display: table;
}
.cadre-rf-text {
    display: table-cell;
    padding-left: 20px;
    font-size: 0.8em;
    text-transform: uppercase;
    vertical-align: middle;
}

#carrousel, .carousel-inner {
    max-height: 260px;
}

#carrousel + .row {
    margin-left: unset;
    margin-right: 0px;
}
#carrousel {
    max-width: 2400px;
    text-transform: uppercase;
}

.carousel-caption-text {
    background-color: #015A70;
    opacity: 0.80;
    font-weight: 600;
    padding: 10px;
    text-align: left;
    float: left;
}

.carousel-caption-link {
    background-color: #857865;
    opacity: 0.80;
    padding: 10px;
    clear: both;
    margin-top: 10px;
    padding-top: 10px;
    text-align: left;
    display: inline;
    float: left;
}

.carousel-indicators {
    bottom: 0;
}

.carousel-inner > .item > img {
    min-height: 300px;
}

.carousel-caption {
    top: 30px;
}

/* eof homepage */

/* bof retour haut de page */

#scrollToTop {
    position: fixed;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
    display: none;
}

#scrollToTop a {
    font-size: 60px;
    color: white;
    outline: none;
}

#scrollToTop a:hover {
    text-decoration: none;
}

/* eof retour haut de page */

/* bof BS switch */

.checkbox label {
    padding-left: 0;
}

.bootstrap-switch {
    margin-right: 14px;
}


/* eof BS switch */

/* bof picto */
i {
    margin-right: 5px;
}
i.left-margin {
    margin-left: 5px;
}
i.no-right-margin {
    margin-right: 0;
}

span.label.label-success.top-right i.fa-check {
    margin-right: 2px;
}

/* eof picto */


/* bof todo : à trier */

.authorizations-requested .list-group-item {
    padding-right: 90px;
}

.fixed-table-body {
    background-color: white;
}



ul.error {
    padding-left: 0;
}

ul.error li {
    list-style: none;
    color: #cf1030;
}

.btn-action {
    float: right;
    margin: 0.5em 0.5em 0.5em 0.5em;
    min-width: 10em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.btn-fill {
    width: 100%;
}

.card-heading {
    line-height: 1.5em;
}

.card-heading a.btn {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5em;
}

.post-date {
    background-color: #303030;
    color: white;
    float: left;
    margin-right: 1em;
    margin-bottom: 0.5em;
    width: 5.5em;
    line-height: 1.25em;
    border-radius: 0.5em;
    padding: 0.5em;
}

.post-date-day {
    display: block;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}

.post-date-month {
    font-weight: normal;
    font-variant: small-caps;
    display: block;
    text-align: center;
}

.post-date-year {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    display: block;
}

/* eof todo : à trier */

.alert>p, .alert>ul {
    margin-bottom: 0;
}

ul.list-group {
    margin-bottom: 16px !important;
    /*border-bottom: 1px solid #ddd;*/
}

#authorization.tab-pane, #declaration.tab-pane, #event.tab-pane, #additionaldata.tab-pane {

    background: none;
    border: none;
}

/*
#authorization.card>.list-group, #declaration.card>.list-group, #event.card>.list-group, #additionaldata.card>.list-group, #authorization.card-default>.card-heading, #declaration.card-default>.card-heading, #event.card-default>.card-heading, #additionaldata.card-default>.card-heading {
    border: 1px solid #ddd;
}
*/

.django-ckeditor-widget {
    width: 100%;
    padding-right: 8px;
}

.attendre-archive {
    position: relative;
    z-index: 10;
    margin-left: 15px;
}

.attendre {
    position: relative;
    font-size: smaller;
    z-index: 5;
    height: 15px;
    width: 0px;
}
.special_fieldset legend{
    padding-left: 50px;
    font-style: italic;
    font-size: 19px;
}


.hearder-notification {
    margin-top: 12px;
}

.breadcrumb li {
    margin-right: 20px;
}
