{% load i18n %}

<h3>
    <i class="fa fa-magic" aria-hidden="true"></i> Actions {% if user.instructeur %} Instructeur {% endif %}
</h3>

<table class="table table-condensed table-striped scroll-table" data-toggle="table" id="action-table">
    <thead>
        <tr>
            <th data-field="date" data-sortable="true" data-sorter="dateSorter">Date</th>
            <th data-field="file" data-sortable="true">Dossier</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for declaration in object_list %}
            {% for action in declaration.manifestation.actions.in_processing.last_first %}
                <tr>
                    <td>{{ action.creation_date.date|date:"d/m/Y" }}</td>
                    <td>{{ action.manifestation }}</td>
                    <td>{{ action.action }}</td>
                </tr>
            {% endfor %}
        {% empty %}
            <tr>
                <td></td>
                <td></td>
                <td>Aucune action sur les dossiers en cours</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
