{% load i18n %}

<h3>
    {% if user.instructeur %}
        <i class="far fa-folder-open" aria-hidden="true" title="Manifestation"></i> Dossiers organisateurs
    {% else %}
        <i class="far fa-history" aria-hidden="true"></i>Notifications
    {% endif %}
</h3>

<table class="table table-condensed table-striped scroll-table" data-toggle="table" id="notification-table">
    <thead>
        <tr>
            <th data-field="date" data-sortable="true" data-sorter="dateSorter">Date</th>
            <th data-field="file" data-sortable="true">Dossier</th>
            <th>Expéditeur</th>
            <th>Objet</th>
        </tr>
    </thead>
    <tbody>
        {% for declaration in object_list %}
            {% for notification in declaration.manifestation.notifications.in_processing.last_first %}
                <tr>
                    <td>{{ notification.creation_date.date|date:"d/m/Y" }}</td>
                    <td>{{ notification.manifestation }}</td>
                    <td>{{ notification.content_object|default_if_none:"--" }}</td>
                    <td>{{ notification.subject }}</td>
                </tr>
            {% endfor %}
        {% empty %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Aucune notification sur les dossiers en cours</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
